---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "../_sass/bootstrap_vars";

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  color: #404040;
}

input {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #404040;
}

.background {
  position: absolute;
  background: url("/images/background_rocket_flat.jpg") center;
  opacity: 0.1;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  background: black;
  height: 50px;
  padding: 5px;
  margin-bottom: 40px;
}

.header__logo_text {
  color: white;
  transform: translate(50px, 0px) scale(1.7, 1.2);
  float: left;
  margin-top: 9px;
  display: block;
}

.header__logo_img {
  transform: rotate(0);
  transition: transform 0.3s;
  border-radius: 50%;
  width: 50px;
  float: left;
  display: block;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0.8;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
    transition: opacity 0.3s;
    .header__logo_img {
      transform: rotate(90deg);
      transition: transform 0.3s;
    }
    .header__logo_text {
      color: white;
    }
  }
}

.logos {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  //width: 75px;
  //height: 75px;
  width: 100px;
  height: 100px;
}

.footer {
  text-align: right;
}

.allow_button, .deny_button {
  padding: 10px 25px;
  cursor: pointer;
  //border-radius: 4px;
}

.allow_button {
  background: #5cb85c;
  color: white;
  border: 1px solid #4cae4c;
  text-shadow: 1px 1px #43a043;
  &:hover {
    text-shadow: 1px 1px #3a843a;
    background-color: #449d44;
    border-color: #398439;
  }
}

.deny_button {
  background: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.1);
  margin-right: 5px;
}

.form_wrap {
  width: 450px;
  margin: auto;
}

.form {

}

.message {
  margin-bottom: 40px;
  font-size: 13px;
  text-align: center;
  //color: gray;
}

.prompt {
  font-size: 30px;
  //font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.prompt__app_name {
  font-weight: bold;
}

.permission_list {
  margin-bottom: 20px;
}

.permission {
  padding: 20px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.permission--admin-access {
  color: white;
  background: rgba(255, 0, 0, 0.53);
  border-color: transparent;
}