/*
 * Fix bug with horizon
 */
.webix_tree > .webix_scroll_cont {
  width: auto !important;
}

.menu__login_button {
  height: 40px !important;
  margin-top: 5px !important;
}

.menu__login_button .webix_el_box {
  height: 40px !important;
}

.menu__login_button button,
.menu__login_button button:focus,
.menu__login_button button:hover,
.menu__login_button button:active {
  background: white !important;
  color: black !important;
  border: white !important;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.menu__login_button button:hover,
.menu__login_button button:active {
  opacity: 1;
  transition: opacity 0.3s;
}

#admin_panel__loading {
  text-align: center;
  margin-top: 150px;
  color: #3498db;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.image-for-social-medias {
  position: absolute;
  width: 400px;
  visibility: hidden;
}

.logo {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  height: 45px;
  width: 350px;
}

.logo:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.logo__img {
  transform: rotate(0);
  transition: transform 0.3s;
  width: 50px;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.3s, transform 0.3s;
}

.logo:hover .logo__img {
  transform: rotate(90deg);
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
}

.logo__img_wrap {
  border-radius: 50%;
  background: black;
  float: left;
  margin-left: 3px;
  margin-top: 3px;
  width: 50px;
}

.logo__text_img {
  margin-top: 6px;
  width: 270px;
  display: block;
  float: left;
  color: white;
  font-size: 32px;
  font-family: 'Lalezar', cursive;
  padding-left: 10px;
  padding-top: 3px;
  margin-left: 10px;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.logo:hover .logo__text_img {
  opacity: 1;
  transition: opacity 0.3s;
}

.no_items {
  position: absolute;
  margin: 200px auto 0 auto;
  font-size: 20px;
  color: gray;
  z-index: 100;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  font-family: "PT Sans", Tahoma;
}

.no_items--active {
  display: block;
}
/**
 * Site header style
 */

 .webix_preloaded_header {
   background: black;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   height: 46px;
 }

.webix_header {
  border-bottom: 0;
}

.webix_header > div {
  background: black !important;
  color: black !important;
}

.menu__item_list > .webix_scroll_cont > .webix_list_item:first-child {
  border-top: 1px solid #ebebeb;
}

.menu_button {
  background: black;
}

.menu__spacer {
  background: black;
}

.menu__language_button--get_started {
  margin-left: -15px !important;
}

.menu__language_button {
  background: black;
  height: 46px !important;
  border: 1px solid black !important;
}

.menu__language_button button,
.menu__language_button button:focus {
  border-color: black;
  background: black;
  color: #a9a9a9;
  transition-property: color;
  transition-duration: 0.3s;
}

.menu__language_button button:hover,
.menu__language_button button:active {
    border-color: black;
    background: black;
    color: white;
    transition-property: color;
    transition-duration: 0.3s;
}

.menu__language_button--selected button {
  font-weight: bold;
}

.menu_button .webix_icon {
  color: #a9a9a9;
  transition-property: color;
  transition-duration: 0.3s;
}

.menu_button:hover .webix_icon {
  color: white;
  transition-property: color;
  transition-duration: 0.3s;
}

.profile {
  padding-bottom: 12px;
}

.profile__img_wrap {
  text-align: center;
}

.profile__img {
  width: 200px;
  height: 200px;
  margin-top: -5px;
  margin-left: -5px;
}

.profile__name {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.login_panel__providers {
  background-color: black;
  background-image: url(/images/background.jpg);
}

.login_panel__facebook_button button,
.login_panel__facebook_button button:hover,
.login_panel__facebook_button button:active,
.login_panel__facebook_button button:focus {
  padding-left: 10px;
  background: #3b5998;
  border: 1px solid #3b5998 !important;
}

.login_panel__google_button button,
.login_panel__google_button button:hover,
.login_panel__google_button button:active,
.login_panel__google_button button:focus {
  padding-left: 10px;
  background: #dc4e41;
  border: 1px solid #dc4e41 !important;
}

.login_panel__google_button .webix_icon,
.login_panel__facebook_button .webix_icon {
  width: 30px;
}

.entity_form__text_label .webix_inp_label {
  padding-top: 0 !important;
  line-height: 32px;
}

.entity_form__text_label .webix_inp_textarea {
  font-size: 16px;
}

.entity_tree__show_more_item {
  cursor: pointer;
}

.entity_tree__show_more_item .webix_tree_file {
  visibility: hidden;
}

.entity_list__show_more_item {
  text-align: center;
}

.entity_form__text_label .entity_form textarea {
  overflow: hidden;
}

.webix_win_head_spinner {
  float: right;
  margin-top: 5px;
  margin-left: -45px;
  width: 45px;
  color: #3498db;
}
