/*
 * Fix bug with horizon
 */
.webix_tree > .webix_scroll_cont {
  width: auto !important;
}

/**
 * Site header style
 */
.webix_header > div {
  background: black !important;
  color: #868181 !important;
}

.menu__item_list > .webix_scroll_cont > .webix_list_item:first-child {
  border-top: 1px solid #ebebeb;
}

.menu_button {
  background: black;
}

.menu_button .webix_icon {
  color: #a9a9a9;
  transition-property: color;
  transition-duration: 0.3s;
}

.menu_button:hover .webix_icon {
  color: white;
  transition-property: color;
  transition-duration: 0.3s;
}

.profile {
  padding-bottom: 12px;
}

.profile__img_wrap {
  text-align: center;
}

.profile__img {
  width: 200px;
  height: 200px;
  margin-top: -5px;
  margin-left: -5px;
}

.profile__name {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.login_panel__facebook_button button,
.login_panel__facebook_button button:hover,
.login_panel__facebook_button button:active,
.login_panel__facebook_button button:focus {
  padding-left: 10px;
  background: #3b5998;
  border: 1px solid #3b5998 !important;
}

.login_panel__google_button button,
.login_panel__google_button button:hover,
.login_panel__google_button button:active,
.login_panel__google_button button:focus {
  padding-left: 10px;
  background: #dc4e41;
  border: 1px solid #dc4e41 !important;
}

.login_panel__google_button .webix_icon,
.login_panel__facebook_button .webix_icon {
  width: 30px;
}

.entity_form__text_label .webix_inp_label {
  padding-top: 0 !important;
  line-height: 32px;
}

.entity_form__text_label .webix_inp_textarea {
  font-size: 16px;
}

.entity_tree__show_more_item {
  cursor: pointer;
}

.entity_tree__show_more_item .webix_tree_file {
  visibility: hidden;
}

.entity_list__show_more_item {
  text-align: center;
}
