---
layout: page
---
{% for example in site.data[page.language].get_started %}
  {% if example.id == page.example %}
    {% for section in example.sections %}
      <section class="page__section">
        <div class="row">
          <div class="col-md-4">
            <h2 class="margin-top-0">{{ section.title }}</h2>
            <p class="feature__description">{{ section.description }}</p>
            {% include links.html links=section %}
          </div>
          <div class="col-md-8">
            {% assign section_media_id = example.id | append:"__" | append:section.id %}
            {% case section.type %}
            {% when "image" %}
              <img class="width-100" id="{{ section_media_id }}" />
              {% include image_waiter.html id=section_media_id width="1130" height="683" url=section.url %}
            {% when "video_demo" %}
              <div class="safari">
                <div class="safari__header clearfix">
                  <div class="safari__buttons_wrap">
                    <div class="safari__buttons clearfix">
                      <div class="safari__button safari__button--red"></div>
                      <div class="safari__button safari__button--orange"></div>
                      <div class="safari__button safari__button--green"></div>
                    </div>
                  </div>
                  <div class="safari__address_bar">
                    <div class="safari__url">{{ section.website | replace: "https://","<span class='safari__url__https'>https://</span>" }}</div>
                  </div>
                </div>
                <video id="{{ section_media_id }}" class="safari__video" autoplay loop>
                  <source src="{{ section.url }}" type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
                {% include video_waiter.html id=section_media_id width=section.width height=section.height url=section.url %}
              </div>
            {% when "demo" %}
              <div class="safari">
                <div class="safari__header clearfix">
                  <div class="safari__buttons_wrap">
                    <div class="safari__buttons clearfix">
                      <div class="safari__button safari__button--red"></div>
                      <div class="safari__button safari__button--orange"></div>
                      <div class="safari__button safari__button--green"></div>
                    </div>
                  </div>
                  <div class="safari__address_bar">
                    <div class="safari__url">{{ section.website | replace: "https://","<span class='safari__url__https'>https://</span>" }}</div>
                  </div>
                </div>
                <img class="safari__img" id="{{ section_media_id }}" />
                {% include image_waiter.html id=section_media_id id=section_media_id width=section.width height=section.height url=section.url %}
              </div>
            {% when "code" %}
              <iframe id='{{ example.id }}__{{ section.id }}'
                      height='{{ section.height }}'
                      scrolling='no'
                      src='//codepen.io/mydataspace/embed/{{ section.id }}/?height={{ section.height }}&theme-id=0&default-tab=js,result&embed-version=2'
                      frameborder='no'
                      allowtransparency='true'
                      allowfullscreen='true'
                      style='width: 100%;'>
                See the Pen <a href='https://codepen.io/mydataspace/pen/{{ section.id }}/'>Reading data from service</a> by My Data Space (<a href='http://codepen.io/mydataspace'>@mydataspace</a>) on <a href='http://codepen.io'>CodePen</a>.
              </iframe>
              {% include waiter.html id=section_media_id %}
            {% endcase %}
          </div>
        </div>
      </section>
    {% endfor %}
    {% break %}
  {% endif %}
{% endfor %}
