---
layout: page
---
<div class="row">
  {% for example in site.data[page.language].get_started %}
  <div class="col-md-4">
    <a class="feature" href="{{ baseurl }}/get-started/{{ example.id }}">
      <div class="feature__icon feature__icon--example">
        {% assign icon_name = "icons/" | append:example.id | append:".svg"  %}
        {% include {{icon_name}} %}
      </div>
      <h2 class="feature__title">{{ example.title }}</h2>
      <div class="feature__description">{{ example.description }}</div>
    </a>
  </div>
  {% endfor %}
</div>
