---
layout: hybrid
---
<div class="landing landing--{{ page.language }}">
  <script type="text/javascript">
    if (isEmptyPathnameIgnoreLanguage(window.location.pathname) && isValidJWT(localStorage.getItem('authToken')) ||
      window.location.hash && window.location.hash !== '' && window.location.hash !== '#') {
      document.getElementById('bootstrap').style.display = 'none';
    }
  </script>

  <div class="page_top page_top--landing-page">
    <div class="smoke">
      {% include nav.html %}
      {% include header.html %}
    </div>
  </div>

  {{ content }}

  {% if site.data[page.language].mission %}
  <div class="mission">
    <div class="container">
      <div class="mission__title">{{ site.data[page.language].mission_title }}</div>
      <div class="row">
        {% for feature in site.data[page.language].solutions %}
        <div class="col-md-4 feature_column">
          <div class="feature {% if feature.details %}feature--with-details{% endif %}">
            {% if feature.details %}
            <div class="feature__details">{{ feature.details }}</div>
            {% endif %}
            <div class="feature__icon feature__icon--mission feature__icon--{{ feature.id }}">
              {% assign icon_name = "icons/" | append:feature.id | append:".svg"  %}
              {% include {{icon_name}} %}
            </div>
            <h3 class="feature__title feature__title--mission">
              {{ feature.title }}
            </h3>
            <div class="feature__description feature__description--mission">
              {{ feature.description }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="mission__text">{{ site.data[page.language].mission }}</div>
    </div>
  </div>
  {% endif %}

  {% include feature_sections.html %}

  {% comment %}
  <section style="padding-top: 0" class="section relative section--examples">
    <div class="container relative">
      <h2 class="section__title section__title--{{ section.id }}">{{ site.data[page.language].landing_examples.title }}</h2>
      <div class="row">
        {% for example in site.data[page.language].landing_examples.examples %}
        <div class="col-md-6">
          <a class="example" href="https://{{ example.url }}">
            <div class="safari">
              <div class="safari__header">
                <div class="safari__buttons">
                  <div class="safari__button safari__button--red"></div>
                  <div class="safari__button safari__button--orange"></div>
                  <div class="safari__button safari__button--green"></div>
                </div>
                <div class="safari__address_bar">
                  <div class="safari__url">{{ example.url | prepend: "<span class='safari__url__https'>https://</span>" }}</div>
                </div>
              </div>
              <img class="safari__img" src="/images/examples/{{ example.image }}" />
            </div>
            <div class="example__title">{{ example.title }}</div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endcomment %}

  {% include sub_footer.html %}

  {% include footer.html %}
</div>