---
layout: hybrid
---
<div>
  {% if page.search_header__search_pathname %}
  <script>search_header__search_pathname = '{{ page.search_header__search_pathname }}';</script>
  {% endif %}

  <div class="page_top page_top--landing-page">
    <div class="smoke">
      {% include nav.html %}
    </div>
  </div>

  <script>
    Mydataspace.connect();
    Mydataspace.on('login', function() {
      document.getElementById('login_button_menu_item').style.display = 'none';
      document.getElementById('profile_button_menu_item').style.display = 'block';
      Mydataspace.emit('users.getMyProfile', {});
    });
    Mydataspace.on('logout', function() {
      document.getElementById('login_button_menu_item').style.display = 'block';
      document.getElementById('profile_button_menu_item').style.display = 'none';
    });
    showSearch_header__search();
  </script>

  <!--<script type="text/javascript">-->
    <!--document.getElementById('header__search_input').focus();-->
  <!--</script>-->

  {{ content }}
</div>