.ace_search_form.ace_nomatch {
  outline: 0 !important;
}

.ace_search {
  background: $toolbar-bg !important;
  border-color: #dddddd !important;
  border-radius: 0 !important;
}

.ace_search_form, .ace_replace_form {
  border-radius: 0 !important;
}

.ace_searchbtn {
  width: 32px !important;
}

.ace_searchbtn_close {
  margin-top: 2px !important;
}

.ace_search_options > span {
  padding-left: 5px;
  padding-right: 5px;
}

.ace_search.right {
  padding-top: 8px;
}
