.error-404-icon {
  color: #23155b;
  width: 180px;
  margin: -20px auto auto;
  svg {
    fill: #23155b;
  }
}

.error-404-message {
  color: #23155b;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
}