@keyframes slogan_caret_animation {
  0%   {opacity: 1;}
  20%   {opacity: 1;}
  60%  {opacity: 0;}
  100% {opacity: 1;}
}

.intro__slogan_caret {
  animation: slogan_caret_animation 2s infinite;
  display: inline-block;
  transform: scale(1.2);
}


.section__code_simple {
  height: 565px;
  background: white;
}

.section__code_simple_description {
  margin-top: 70px;
  font-size: $font-size-large;
  margin-bottom: 20px;
  text-align: center;
}

.section {
  padding: 85px 0 110px 0;
}

.section--speed {
  background-size: cover;
  background: url(/images/background_rocket_flat_blue.jpg) center;
}

.smoke--speed {
  display: block !important;
}

.section__title {
  margin-top: 0;
  text-align: center;
  font-size: $font-size-h1;
  //word-break: break-all;
  word-wrap: break-word;
}

.section__footer {
  margin-top: 70px;
}

.section__title--speed,
.section__title--easy_to_use,
.section__title--easy_to_publish {
  margin-bottom: 40px;
}

.section__subtitle {
  margin-top: 0;
  text-align: center;
  font-size: $font-size-h3;
  word-wrap: break-word;
}

.section__subtitle--speed,
.section__subtitle--easy_to_use,
.section__subtitle--easy_to_publish
{
  margin: -20px auto 40px;
  max-width: 1000px;
}

.section__title--reliability {
  margin-bottom: 40px;
}

.additional_features {
  font-size: $font-size-large;
  margin-top: 20px;
  margin-bottom: 30px;
}

.additional_features__star {
  float: left;
  svg {
      width: 40px;
  }
}

.additional_features__text {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}

.feature {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.feature_column {
  overflow: hidden;
}

.feature__details {
  transition-delay: 0.15s;
  transform: translate3d(0, 400px, 0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: -10px;
  right: -40px;
  left: 0;
  bottom: -10px;
  padding: 40px 20px 20px 20px;
  z-index: 100;
  font-size: 24px;
  text-align: left;
  li {
    margin-left: -17px;
  }
}

.section--easy_to_use {
  .feature_column:nth-child(3) .feature__details {
    top: 20px;
  }

  .feature--with-details:hover {
    .feature__icon,
    .feature__title,
    .feature__description {
    }
  }

  .feature__details {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
}

.feature_column:last-child .feature__details {
  right: 0;
  left: -40px;
  text-align: right;
}

.feature__icon,
.feature__title,
.feature__description {
  transition: transform 0.5s;
  transform: translate3d(0, 0, 0);
}

.feature__icon {
  transition-delay: 0.3s;
}

.feature__title {
  transition-delay: 0.25s;
}

.feature__description {
  transition-delay: 0.2s;
}


.feature--with-details {
  position: relative;

  @media (min-width: $screen-md-min) {
    &:hover {
      .feature__details {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition-delay: 0.3s;
      }

      .feature__icon,
      .feature__title,
      .feature__description {
        transform: translate3d(0, -470px, 0);
      }

      .feature__icon {
        transition-delay: 0.15s;
      }

      .feature__title {
        transition-delay: 0.2s;
      }

      .feature__description {
        transition-delay: 0.25s;
      }
    }
  }
}


a.feature {
  &, &:focus, &:link {
    color: black;
  }
  &:hover, &:active {
    color: black;
    text-decoration: none;
    .feature__title {
      text-decoration: underline;
    }
  }
}

.feature__title {
  font-size: $font-size-h2;
  line-height: 1.05;
  word-wrap: break-word;
}

.feature__method_name {
  font-size: 25px;
}

.feature__code_example {
  text-align: right;
  margin-bottom: -30px;
  margin-right: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.feature__section {
  margin-top: 50px;
}

.feature__subtitle {
  font-size: $font-size-large;
  margin-top: 0;
}

.feature__description {
  font-size: $font-size-large;
  margin-top: 10px;
}

.feature__icon {
  margin: 0 70px 0 70px;
  svg {
    width: 100%;
    max-width: 250px;
  }
}

.feature__icon--speed,
.section--ease,
.feature__icon--reliability{
  svg {
    fill: rgb(40, 111, 247); // 0069ff
  }
}


@media (max-width: $screen-xs-max) {
  .feature--with-details:hover {
    .feature__icon,
    .feature__title,
    .feature__description {
      filter: none;
    }
  }

  .feature__details {
    display: none;
  }
}
@media (max-width: $screen-sm-max) {
  .section--easy_to_use {
    //background-attachment: fixed;
  }

  .feature {
    margin-top: 70px;
  }
  .feature_column:first-child .feature {
    margin-top: 10px;
  }
  .additional_features {
    font-size: 20px;
  }
}

@media (min-width: $screen-md-min) {
  .feature__icon--easy_to_use_over_api {
    margin-top: -30px;
  }
}

.section--how-it-works {
  position: relative;
}

.sub_footer__button--how-it-works {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}

.how-it-works-wrap {
  display: flex;
  margin-left: 0;
  transition: all 0.5s;

  & > svg {
    margin: auto;
    width: 700px;
    height: 550px;
  }
}

.how-it-works-wrap--stopped {
  margin-left: 280px;
}