@keyframes slogan_caret_animation {
  0%   {opacity: 1;}
  20%  {opacity: 1;}
  40%  {opacity: 0;}
  80%  {opacity: 0;}
  100% {opacity: 1;}
}

.intro__slogan_caret {
  animation: slogan_caret_animation 2s infinite;
  display: inline-block;
  transform: scale(1.2);
}


.section__code_simple {
  height: 565px;
  background: white;
}

.section__code_simple_description {
  margin-top: 70px;
  font-size: $font-size-large;
  margin-bottom: 20px;
  text-align: center;
}

.section {
  padding: 70px 0 110px 0;
  background: white;
}

$section-icon-color: #6b6ba9;

.section--speed {
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, rgba(49, 21, 91, 1), rgba(49, 21, 91, 0.8)), url(https://cdn.web20site.com/content/images/landing/3.1/speed.jpg);
  background-position: left bottom;
  .fa {
    color: white !important;
  }
  svg {
    fill: white !important;
  }
}

.section--ease {
  color: white;
  background: #3b3e43 url(https://cdn.web20site.com/content/images/noice.png);
  .fa {
    color: $section-icon-color !important;
  }
  svg {
    fill: $section-icon-color !important;
  }
}


.section--reliability {
  padding-bottom: 50px;
  color: white;
  background: #3b3e43 url(https://cdn.web20site.com/content/images/noice.png);
  .fa {
    color: $section-icon-color !important;
  }
  svg {
    fill: $section-icon-color !important;
  }
}

.section--examples {
  color: white;
  .example__title {
    color: white;
  }
  background: url(https://cdn.web20site.com/content/images/noice.png),linear-gradient(45deg, rgb(35, 21, 91), rgb(55, 25, 165));
}

.smoke--speed {
  display: block !important;
}

.section__title {
  margin-top: 0;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  word-wrap: break-word;
  margin-bottom: 30px;
}

.section__footer {
  margin-top: 70px;
}

.section__title--speed,
.section__title--easy_to_use,
.section__title--easy_to_publish {
  margin-bottom: 70px;
}

.section__subtitle {
  margin-top: 0;
  text-align: center;
  font-size: $font-size-h3;
  word-wrap: break-word;
  margin-bottom: 70px;
  font-weight: normal !important;
}

.section__subtitle--speed,
.section__subtitle--easy_to_use,
.section__subtitle--easy_to_publish
{
  margin: -20px auto 40px;
  max-width: 1000px;
}

.section__title--reliability {
  margin-bottom: 40px;
}

.additional_features {
  font-size: $font-size-large;
  margin-top: 20px;
  margin-bottom: 30px;
}

.additional_features__star {
  float: left;
  svg {
      width: 40px;
  }
}

.additional_features__text {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}

.feature {
  display: block;
  margin-bottom: 30px;
}

.feature--center {
  text-align: center;
  .feature__icon {
    margin: auto;
  }
}

.feature_column {
  overflow: hidden;
}

.feature__details {
  position: absolute;
  top: -10px;
  right: -40px;
  left: 0;
  bottom: -10px;
  padding: 0 20px 20px 20px;
  z-index: 100;
  font-size: 24px;
  text-align: left;
  li {
    margin-left: -17px;
  }
}

a.feature {
  &, &:focus, &:link {
    color: black;
  }
  &:hover, &:active {
    color: black;
    text-decoration: none;
    .feature__title {
      text-decoration: underline;
    }
  }
}

.features__provider-icon {
  height: 25px;
  margin-right: 10px;
}

.feature__title {
  font-size: 28px;
  line-height: 1.05;
  word-wrap: break-word;
  font-weight: bold;
}

.feature__method_name {
  line-height: 34px;
  font-size: 18px;
}

.feature__code_example {
  // text-align: right;
  // margin-bottom: -30px;
  // margin-right: 10px;
  // margin-top: 20px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-style: italic;
}

.feature__list-item {
  position: relative;
  padding-left: 30px;
  margin-top: 10px;
}

.feature__list-item-icon {
  position: absolute;
  left: 0;
  width: 20px;
  top: 2px;
  margin-right: 5px;
}

.feature__details-icon {
  width: 19px;
  margin-top: -4px;
  margin-right: 5px;
}

.feature__section {
  margin-top: 50px;

  figure.highlight {
  }
}

.feature__subtitle {
  font-size: $font-size-large;
  margin-top: 0;
}

.feature__description {
  font-size: 17px;
  margin-top: 10px;
  color: white;
}

.feature__icon {
  width: 80px;
  height: 80px;

  svg {
    width: 100%;
    max-width: 250px;
  }

  .fa {
    font-size: 80px;
    color: rgb(40, 111, 247);
  }
}

// .feature__icon--speed,
// .section--ease,
// .feature__icon--reliability{
//   svg {
//     fill: rgb(40, 111, 247);
//   }
// }
//
.feature__icon--mission {
  svg {
    fill: white;
  }
}

@media (max-width: $screen-sm-max) {
  .feature__list-item-icon {
    position: static;
  }

  .feature__list-item {
    padding-left: 0;
  }

  .feature--with-details:hover {
    .feature__icon,
    .feature__title,
    .feature__description {
      filter: none;
    }
  }

  .feature_column:first-child .feature {
    margin-top: 10px;
  }

  .feature {
    text-align: center;
  }

  .feature__icon {
    margin: auto;
  }

  .feature__details {
    display: none;
  }
}

@media (max-width: $screen-xs-max) {
  .intro__slogan_caret {
    display: none;
  }
}

@media (max-width: $screen-sm-max) {
  .additional_features {
    font-size: 20px;
  }
}

@media (min-width: $screen-md-min) {
  .feature__icon--easy_to_use_over_api {
    margin-top: -30px;
  }
}

.section--how-it-works {
  position: relative;
}

.sub_footer__button--how-it-works {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}

.how-it-works-wrap {
  display: flex;
  margin-left: 0;
  transition: all 0.5s;

  & > svg {
    margin: auto;
    width: 700px;
    height: 550px;
  }
}

.how-it-works-wrap--stopped {
  margin-left: 280px;
}

figure.highlight > pre, pre.highlight {
  border: 1px solid #eeeeee;
  background-color: #f5f5f5;
}