@import "./vars";

.intro__special_offer--modal {
  padding-bottom: 0;
}

.footer {
  background: #3b3e43 url(https://cdn.mydataspace.net/files/ryCHu9MlQ.png);
  color: white;
  padding: 50px 0;
  font-size: $font-size-base;
  @media (min-width: $screen-sm-max) {
    height: $footer-height;
  }
}

.footer__logo {
  width: 40px;
  opacity: 0.7;
  margin-top: 15px;
}

.footer__copyright {
  font-size: 16px;
  opacity: 0.5;
  padding-top: 15px;
}

.footer--fullscreen {
  filter: blur($fullscreen-blur);
}

.footer__link {
  display: block;
  opacity: 0.5;
  transition: opacity 0.3s;
  padding: 10px 0;
  &, &:focus {
    color: white;
  }
  &:hover, &:active {
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.footer__link--section {
  font-weight: bold;
  opacity: 0.8;
  &:hover, &:active {
    opacity: 1;
  }
}

span.footer__link--section {
  &:hover, &:active {
    opacity: 0.8;
  }
}

.footer__socials {
  margin-left: -8px;
  font-size: $font-size-large;
}

.footer__link--social {
  padding: 10px 10px;
  float: left;
}

.footer__link--subsection {
  font-size: $font-size-small;
  padding: 4px 0;
}

@media (max-width: $screen-sm-max) {
  .footer__link--section {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer__link--subsection {
    text-align: center;
  }

  .footer__link--social {
    float: left;
  }

  .footer__socials {
    width: 220px;
    margin-top: 20px;
    margin-right: 50%;
    transform: translateX(50%);
  }

  .footer {
    padding: 20px 0
  }

}
