.example-description {
  position: relative;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  padding-left: 30px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  border-radius: 25px;
  width: 350px;
  margin-bottom: 3px;
  &:hover {
    background: gray;
  }
}

.intro__example_description {
  top: 90px;
  font-size: 24px;
  @media (max-width: 1400px) {
    font-size: 20px;
  }
  li {
    margin-bottom: 5px;
  }
}

.example-description-list {
  margin-left: -20px;
}


.example-description--active {
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  color: black;
  &:hover {
    background: white;
    color: black;
  }
}