.pricing_list {
}

.pricing_block {
  border-radius: 10px;
  max-width: 400px;
  margin: auto auto 20px;
  border: 1px solid white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: white;
}

.pricing_block__addition {
  font-size: 14px;
  margin-bottom: 17px;
  line-height: 1.2;
}

.pricing-skeletons-notice {
  text-align: center;
  font-size: 25px;
}

.pricing_block__button--current {
  display: none;
}
.pricing_block__button--upgrade {
  display: none;
}


.pricing_list--logged-in {
  .pricing_block__button--create {
    display: none;
  }
  .pricing_block__button--upgrade {
    display: inline;
  }
}

.pricing_block--active {
  border-color: transparent; //opacify($brand-success, 0.7); // #76b876
  box-shadow: 0 1px 46px 0 opacify($brand-success, 0.3);
  .pricing_block__button--create {
    display: none;
  }
  .pricing_block__button--current {
    display: inline;
  }
  .pricing_block__button--upgrade {
    display: none;
  }
}

.pricing_block__main {
  height: 220px;
  padding: 0 20px 20px 20px;
  text-align: center;
}

.pricing_block__header {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  padding: 20px 20px 0 20px;
}

.pricing_block__footer {
  padding: 0 20px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.pricing_block__pricing {
  padding: 20px 20px 0 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  // padding-top: 0;
}

.pricing_block__pricing_addition {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 5px;
}

.pricing_block__super_offer {
  font-size: 15px;
  margin: 5px auto auto;
  max-width: 250px;
  font-weight: bold;
}


.pricing_block__trial--active {
  display: none;
}

.pricing_block--active {
  .pricing_block__super_offer {
    display: none;
  }

  .pricing_block__trial {
    display: none;
  }

  .pricing_block__trial--active {
    display: block;
  }
}


.pricing_block__property {
  margin: 20px 0;
  font-size: 22px;
  line-height: 1.1;
  font-weight: bold;
}

.pricing_block__property_addition {
  font-size: 14px;
  max-width: 250px;
  margin: 2px auto auto;
  font-weight: bold;
  color: #979797;
}

.pricing_block__button {
  border-radius: 100px;
  padding: 10px 30px;
  width: 270px;
  max-width: 100%;
}

.pricing_block__trial {
  padding: 10px;
  background: #ff8800;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: white;
}