.safari {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  // box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.safari__header {
  background: #BDBDBD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  height: 54px;
}

//.safari__buttons_wrap {
//  float: left;
//  display: table-cell;
//}

.safari__buttons {
  width: 90px;
  height: 20px;
  padding: 5px 0;
  float: left;
}

.safari__address_bar {
  background: white;
  float: left;
  //  display: table-cell;
  width: calc(100% - 90px);
  padding: 0;
  border-radius: 3px;
  position: relative;
}

.safari__img {
  width: 100%;
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.safari__video {
  width: 100%;
  height: auto;
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.safari__video-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, 0.8);
  color: white;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  a {
    color: lightskyblue;
  }
}

.safari__video--windows {
  margin-top: -1px;
  width: calc(100% + 2px);
  min-height: 453px;
  background-color: white;
}

.safari__url {
  // position: absolute;
  // top: 0;
  // left: 10px;
  font-size: 16px;
  padding: 2px 10px;
  color: black;
}

.safari__url__https {
  color: #7ED321;
}

.safari__button {
  border-radius: 50%;
  float: left;
  margin-right: 7px;
  height: 18px;
  width: 18px;
}

.safari__button--red {
  background: #F06352;
}

.safari__button--green {
  background: #80C433;
}

.safari__button--orange {
  background: #F1AA2A;
}

@media (max-width: $screen-md) {
  .safari__video--windows {
    min-height: 280px;
  }
}