@import "./vars";

$search-datasource-height: 40px;

.datasource {
  height: $search-datasource-height;
  position: relative;
}

.datasource__img {
  position: absolute;
  left: 0;
  top: 0;
  width: $search-datasource-height;
  height: $search-datasource-height;
}

.datasource__title {
  font-size: 14px;
  font-weight: bold;
  margin-left: $search-datasource-height + $small-padding;
  line-height: $search-datasource-height / 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.datasource__name {
  margin-left: $search-datasource-height + $small-padding;
  font-size: 14px;
  line-height: $search-datasource-height / 2;
}

.search__datasource {
  margin-bottom: $padding;
}

.search__no_results {
  text-align: center;
  font-size: 22px;
  color: gray;
  padding-top: 40px;
}