<div class="view__overview view__overview--root">
  <div class="container view__container">
    <div class="view__overview_image_wrap view__overview_image_wrap--large">
      <img src="" class="view__overview_image view__overview_image--large" id="root__overview_image" />
    </div>
    <div class="view__info">
      <div>
        <h1 class="view__title">
          <span id="root__title"></span>
          <span class="view__version"
                id="root__version"
                data-toggle="modal"
                data-target="#change_root_version_modal"
                title="Click to select other version">#0</span>
        </h1>

        <div class="view__tabs cf hidden" id="root__tabs">
          <a href="javascript: void(0)" class="view__tab view__tab--active" id="VIEW_TAB_README_LABEL">
            {{ site.data[page.language].root.about }}
          </a>

          <a href="javascript: void(0)" class="view__tab" id="VIEW_TAB_EXPLORE_LABEL">
            {{ site.data[page.language].root.data }}
          </a>

          <a href="javascript: void(0)" class="view__tab" id="VIEW_TAB_VIEW_LABEL">
            {{ site.data[page.language].root.visualization }} <span class="view__tab__counter" id="root__tabs_views_count">0</span>
          </a>

          <a href="javascript: void(0)" class="view__tab" id="VIEW_TAB_COMMENTS_LABEL">
            {{ site.data[page.language].root.comments }} <span class="view__tab__counter" id="root__tabs_comments_count">0</span>
          </a>

          <div class="view__tab view__tab--right" id="VIEW_TAB_DATA_LABEL">
            <a href="javascript:void(0)" class="hidden links__link view__title_link"
               id="root__new_look"><i class="fa fa-plus"></i> {{ site.data[page.language].root.new_view }}</a>
          </div>
        </div>

      </div>

    </div>

    <div class="root_counters" id="root__counters">
      <span class="root_counter" id="root__counters_likes">
        <i class="fa fa-heart" id="root__counters_likes_icon" aria-hidden="true"></i>
        <span class="root_counter__count root_counter__count--likes" id="root__counters_likes_count">0</span>
      </span>

      <span class="root_counter" id="root__counters_comments">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span class="root_counter__count" id="root__counters_comments_count">0</span>
      </span>
    </div>
  </div>
</div>

<div class="container view__container">

  <div id="root__about">

    <div class="view__about" id="root__about_content">
      <div class="block block--about">
        <div class="view__description_wrap">
          <span class="view__description" id="root__description"></span>
          <a class="view__websiteURL" id="root__websiteURL" target="_blank"></a>
        </div>
        <div class="view__tags" id="root__tags"></div>
        <div class="view__readme" id="root__readme"></div>
      </div>

      <div class="block block--look" id="root__about__look_wrap">
        <div class="view__about_look" id="root__about_look_content">
          <div class="view__about__look_title">
            <i class="fa" id="root__about__look_icon"></i>
            <span class="view__about__look_title__content" id="root__about__look_title"></span>
          </div>
          <div id="root__about__look" class="root__about__look"></div>
        </div>
      </div>
    </div>

    <div class="view__side_panel_wrap" id="root__side_panel">
      <div class="view__side_panel">
        <div class="block user_snippet" id="root__user">
          <div class="user_snippet__cover" id="root__user_cover"></div>
          <img class="user_snippet__avatar" id="root__user_avatar" />
          <div class="user_snippet__follow">
            <button class="btn btn-success" id="root__user_follow">{{ site.data[page.language].root.follow }}</button>
          </div>
          <div class="user_snippet__name_wrap clearfix">
            <div class="user_snippet__name" id="root__user_name"></div>
            <i style="display: none;" class="fa fa-check user_snippet__verified" aria-hidden="true" id="root__user_verified"></i>
          </div>
          <div class="user_snippet__username" id="root__user_username"></div>
          <div class="user_snippet__about" id="root__user_about"></div>
          <div class="user_snippet__stats">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="root__looks" style="margin-top: 20px; display: none;">
    <div class="block block--padding" id="root__looks__empty" style="display: none;"><i>{{ site.data[page.language].root.no_views }}</i></div>

    <div class="look" id="root__looks__content_wrap" style="display: none">
      <div class="look__header">
        <div class="look__title">
          <i class="fa" id="root__looks__title_icon"></i> <span class="look__title_text" id="root__looks__title"></span>
        </div>
        <div class="look__actions" id="root__looks__actions">
          <div class="look__action" id="root__looks__close"><i class="fa fa-2x fa-remove"></i></div>
          <div class="look__action look__action--only-owner"
               id="root__looks__delete"
               data-toggle="modal"
               data-target="#delete_look_modal"><i class="fa fa-2x fa-trash"></i></div>
          <div class="look__action look__action--only-owner" id="root__looks__edit"><i class="fa fa-2x fa-pencil"></i></div>
        </div>
      </div>
      <div id="root__looks__content"></div>
    </div>

    <div class="row look_previews" id="root__looks__previews"></div>
  </div>

  <div id="root__comments" class="block view__page" style="display: none;">
    <div id="root__comments__empty" style="display: none;"><i>{{ site.data[page.language].root.no_comments }}</i></div>
    <div class="view__comments__list" id="root__comments__list"></div>
    <div id="root__new_comment" class="new_comment">
      <form>
        <textarea class="form-control new_comment__textarea"
                  style="height: 74px;"
                  id="root__comments__new_comment_textarea"
                  placeholder="{{ site.data[page.language].root.write_a_comment }}"></textarea>
        <button type="button" class="btn btn-lg btn-success new_comment__button">{{ site.data[page.language].root.post_comment }}</button>
      </form>
    </div>
  </div>
</div>

<div class="view__fields" id="root__fields"></div>
