<div class="root__overview root__overview--root">
  <div class="container root__container">
    <div class="root__overview_image_wrap root__overview_image_wrap--large">
      <img src="" class="root__overview_image root__overview_image--large" id="root__overview_image" />
    </div>
    <div class="root__info">
      <div>
        <h1 class="root__title" id="root__title"></h1>
        <!--<i id="root__country" class="hidden"></i>-->
        <!--<i id="root__language" class="hidden"></i>-->

        <a href="/" class="hidden links__link root__title_link" target="_blank" id="root__page_link">
          <i class="fa fa-photo" aria-hidden="true"></i><span class="links__link_text">См. стр.</span>
        </a>


        <div class="root__tabs cf hidden" id="root__tabs">
          <a href="" class="root__tab root__tab--active" id="VIEW_TAB_README_LABEL">
            Описание
          </a>

          <a href="javascript: void(0)" class="view__tab" id="VIEW_TAB_EXPLORE_LABEL">
            Данные
          </a>


          <a href="" class="root__tab" id="VIEW_TAB_VIEW_LABEL">
            Визуализация <span class="root__tab__counter" id="root__tabs_views_count">0</span>
          </a>

          <a href="" class="root__tab" id="VIEW_TAB_COMMENTS_LABEL">
            Комментарии <span class="root__tab__counter" id="root__tabs_comments_count">0</span>
          </a>

          <div class="root__tab root__tab--right" id="VIEW_TAB_DATA_LABEL">
            <a href="javascript:void(0)" class="hidden links__link root__title_link"
               id="root__new_look"><i class="fa fa-plus"></i> Создать</a>
          </div>
        </div>

      </div>
      <!--<div class="root__comment__date root__date_wrap">-->
      <!--created <span class="root__date" id="root__date"></span> ago-->
      <!--</div>-->
    </div>

    <div class="root_counters" id="root__counters">
      <span class="root_counter" id="root__counters_likes">
        <i class="fa fa-heart" id="root__counters_likes_icon" aria-hidden="true"></i>
        <span class="root_counter__count root_counter__count--likes" id="root__counters_likes_count">0</span>
      </span>

      <span class="root_counter" id="root__counters_comments">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span class="root_counter__count" id="root__counters_comments_count">0</span>
      </span>
    </div>
  </div>
</div>

<div class="container root__container">

  <div id="root__about">

    <div class="root__about">
      <div class="block block--about">
        <div class="root__description_wrap">
          <span class="root__description" id="root__description"></span>
          <a class="root__websiteURL" id="root__websiteURL" target="_blank"></a>
        </div>
        <div class="root__tags" id="root__tags"></div>
        <div class="root__readme" id="root__readme"></div>
      </div>

      <div class="block block--look" id="root__about_look">
        <div class="root__about_look" id="root__about_look_content">
          <div class="root__about_look_title">
            <i class="fa fa-codepen"></i>
            <span class="root__about_look_title__content" id="root__about_look_title"></span>
            <div class="root__about_look_action fa fa-expand" id="root__about_look_full"></div>
            <div class="root__about_look_action fa fa-compress" id="root__about_look_normal" style="display: none"></div>
          </div>
          <div id="root__about_look_codepen" class="root__about_look_codepen"></div>
        </div>
      </div>
    </div>

    <div class="root__side_panel_wrap">
      <div class="root__side_panel">
        <div class="block user_snippet" id="root__user">
          <div class="user_snippet__cover" id="root__user_cover"></div>
          <img class="user_snippet__avatar" id="root__user_avatar" />
          <div class="user_snippet__follow">
            <button class="btn btn-success" id="root__user_follow">Отслеживать</button>
          </div>
          <div class="user_snippet__name_wrap clearfix">
            <div class="user_snippet__name" id="root__user_name"></div>
            <i style="display: none;" class="fa fa-check user_snippet__verified" aria-hidden="true" id="root__user_verified"></i>
          </div>
          <div class="user_snippet__username" id="root__user_username"></div>
          <div class="user_snippet__about" id="root__user_about"></div>
          <div class="user_snippet__stats">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="root__looks" style="margin-top: 20px; display: none;">
    <div class="block block--padding" id="root__looks__empty" style="display: none;"><i>Нет ни одного представления.</i></div>

    <div class="look" id="root__looks__content_wrap" style="display: none">
      <div class="look__header">
        <div class="look__title" id="root__looks__title"></div>
        <div class="look__actions" id="root__looks__actions">
          <div class="look__action" id="root__looks__close"><i class="fa fa-2x fa-remove"></i></div>
          <div class="look__action look__action--only-owner"
               id="root__looks__delete"
               data-toggle="modal"
               data-target="#delete_look_modal"><i class="fa fa-2x fa-trash"></i></div>
          <div class="look__action look__action--only-owner" id="root__looks__edit"><i class="fa fa-2x fa-pencil"></i></div>
        </div>
      </div>
      <div id="root__looks__content"></div>
    </div>

    <div class="row look_previews" id="root__looks__previews"></div>
  </div>

  <div id="root__comments" class="block root__page" style="display: none;">
    <div id="root__comments__empty" style="display: none;"><i>Нет ни одного комментария.</i></div>
    <div class="root__comments__list" id="root__comments__list"></div>
    <div id="root__new_comment" class="new_comment">
      <form>
        <textarea class="form-control new_comment__textarea"
                  style="height: 74px;"
                  id="root__comments__new_comment_textarea"
                  placeholder="Write a comment..."></textarea>
        <button type="button" class="btn btn-lg btn-success new_comment__button">Отпавить комментарий</button>
      </form>
    </div>
  </div>
</div>

<div class="root__fields" id="root__fields"></div>
