<div class="view__overview view__overview--root">
    <div class="container view__container">
        <div class="view__overview_image_wrap">
            <img src="" class="view__overview_image" id="view__overview_image" />
        </div>
        <div class="view__info">
            <div>
                <h1 class="view__title" id="view__title"></h1>
                <a href="/" class="hidden links__link view__title_link" target="_blank" id="view__page_link">
                    <i class="fa fa-photo" aria-hidden="true"></i><span class="links__link_text">См. стр.</span>
                </a>
            </div>
            <div class="view__tags" id="view__tags"></div>
        </div>

        <div class="root_counters" id="view__counters">
      <span class="root_counter" id="view__counters_likes">
        <i class="fa fa-heart" id="view__counters_likes_icon" aria-hidden="true"></i>
        <span class="root_counter__count root_counter__count--likes" id="view__counters_likes_count">0</span>
      </span>

            <span class="root_counter" id="view__counters_comments">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span class="root_counter__count" id="view__counters_comments_count">0</span>
      </span>
        </div>
    </div>
</div>

<div class="container view__container">
    <div id="view__blank_root">
        <div id="view__blank_root_prompt" class="view__blank_root_prompt"></div>
        <div class="text-center">
            <button type="button" id="view__blank_root_edit_button" class="prompt_button" onclick="UI.entityForm.startEditing();"></button>
        </div>
    </div>
    <div id="view__about">
        <div class="view__description_wrap">
            <span class="view__description" id="view__description"></span>
            <a class="view__websiteURL" id="view__websiteURL" target="_blank"></a>
        </div>
        <div class="view__readme" id="view__readme"></div>
    </div>
</div>

<div class="view__fields" id="view__fields"></div>
