.view__overview
	.view__overview_image_wrap
		.view__overview_icon#view__overview_icon
	.view__info
		.view__title#view__title
		.view__overview-actions#view_overview_actions
			// button.view__overview-button(onclick="UI.entityForm.askDelete();")
			// 	i.fa.fa-times
			button.view__overview-button(onclick="UI.entityForm.startEditing();")
				i.fa.fa-edit
.view__status#view__status Задача ни разу не запускалась
.view__checks
	.view__check-wrap
		.view__check#view__interval_minutely Раз в минуту
	.view__check-wrap
		.view__check#view__interval_hourly Раз в час
	.view__check-wrap
		.view__check#view__interval_daily Раз в день
	.view__check-wrap
		.view__check#view__interval_weekly Раз в неделю
	.view__check-wrap
		.view__check.view__check--fail#view__interval_paused Ост.
.view__fields#view__fields