{% for section in site.data[page.language].sections %}
  <section id="{{ section.id }}" class="section relative section--{{ section.id }}">
    <div class="container relative">
      <h2 class="section__title section__title--{{ section.id }}">{{ section.title }}</h2>
      {% if section.subtitle %}
      <h3 class="section__subtitle section__subtitle--{{ section.id }}">{{ section.subtitle }}</h3>
      {% endif %}
      {% if section.additional_features %}
        <div class="row">
          <div class="col-md-8 col-md-offset-3">
            <div class="additional_features additional_features--{{ section.id }}">
              {% for additional_feature in section.additional_features %}
                <div class="additional_feature clearfix">
                  <div class="additional_features__star">{% include icons/star.svg %}</div>
                  <div class="additional_features__text">{{ additional_feature }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row">
        {% for feature in section.features %}
          <div class="col-md-4 feature_column">
            <div class="feature {% if feature.details %}feature--with-details{% endif %}">
              <div class="feature__icon feature__icon--{{ section.id }} feature__icon--{{ feature.id }}">
                {% if feature.icon %}
                  <i class="fa fa-{{ feature.icon }}"></i>
                {% else %}
                  {% assign icon_name = "icons/" | append:feature.id | append:".svg"  %}
                  {% include {{icon_name}} %}
                {% endif %}
              </div>
              <h3 class="feature__title">
                {{ feature.title }}
              </h3>
              <div class="feature__description">
                {{ feature.details }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if section.see_more %}
      <div class="text-center section__footer">
        <a class="btn btn-success sub_footer__button" href="{{ section.see_more_url }}">{{ section.see_more }}</a>
      </div>
      {% endif %}

      {% if section.id == "ease"%}
      <div style="text-align: center; margin-bottom: -20px; margin-top: 30px;">
        <a href="/ru/docs" class="btn btn-success sub_footer__button">
          {{ site.data[page.language].view_docs }}
        </a>
      </div>
      {% endif %}
    </div>
  </section>
{% endfor %}
