<footer class="footer" id="page_footer">
  <script type="text/javascript">
  if (window.parent !== window) {
    document.getElementById('page_footer').style.display = 'none';
  }
  </script>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="footer__link footer__link--section" href="{{ baseurl }}/features">{{ site.data[page.language].menu.features }}</a>
        {% for feature in site.data[page.language].features %}
        {% if feature.super_title %}
        <a class="footer__link footer__link--subsection" href="{{ baseurl }}/features#{{ feature.id }}">{{ feature.super_title }}</a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-4">
        <a class="footer__link footer__link--section" href="{{ baseurl }}/docs">{{ site.data[page.language].menu.docs }}</a>
        {% for doc in site.data[page.language].docs %}
          <a class="footer__link footer__link--subsection" href="{{ baseurl }}/docs/{{ doc.id }}">{{ doc.title }}</a>
        {% endfor %}
      </div>
      <div class="col-md-4">
          <!--<a class="footer__link footer__link&#45;&#45;subsection" href="/privacy">{{ site.data[page.language].strings.privacy }}</a>-->

          <!--<a class="footer__link footer__link&#45;&#45;subsection" href="/terms">{{ site.data[page.language].strings.terms }}</a>-->


        <div class="clearfix footer__socials">
            <!--
          <a class="footer__link footer__link--social" href="{{ site.codepen_url }}" target="_blank"><i class="fa fa-codepen"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.github_url }}" target="_blank"><i class="fa fa-github"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
          {% if page.language == 'ru' %}
          <a class="footer__link footer__link--social" href="{{ site.vk_url }}" target="_blank"><i class="fa fa-vk"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.zen_url }}" target="_blank"><i class="fa fa-align-left"></i></a>
          {% endif %}
          -->
        </div>
      </div>
    </div>

    <div class="footer__copyright">
        © 2018 Web 2.0 Site
    </div>
  </div>

{% if false %}
<script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>
<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
if (window.parent === window) {
  VK.Widgets.CommunityMessages("vk_community_messages", 127607773);
}
</script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84590190-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-84590190-3');
</script>


{% if page.language == 'ru' %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter47210469 = new Ya.Metrika({
                      id:47210469,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true
                  });
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/47210469" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}

</footer>
