.view__overview
	.view__overview_image_wrap
		.view__overview_icon#view__overview_icon
		.view__overview-actions#view_overview_actions
			// button.view__overview-button#view_overview_delete_action(onclick="UI.entityForm.askDelete();")
			// 	i.fa.fa-times
			// button.view__overview-button#view_overview_clone_action(onclick="UI.entityForm.clone();" style="margin-right: 3px;")
			// 	i.fa.fa-copy
			button.view__overview-button#view_overview_edit_action(onclick="UI.entityForm.startEditing();")
				i.fa.fa-edit
	.view__info
		h1.view__title#view__title

.view__fields#view__fields