<div class="view__overview view__overview--root">
  <div class="container view__container">
    <div class="view__overview_image_wrap">
      <img src="" class="view__overview_image" id="view__overview_image" />
    </div>
    <div class="view__info">
      <div>
        <h1 class="view__title" id="view__title"></h1>
        <a href="/" class="hidden links__link view__title_link" target="_blank" id="view__page_link">
          <i class="fa fa-photo" aria-hidden="true"></i><span class="links__link_text">View Page</span>
        </a>
      </div>
      <div class="view__tags" id="view__tags"></div>
      <div class="view__comment__date view__date_wrap">
        created <span class="view__date" id="view__date"></span> ago
      </div>
    </div>

    <div class="root_counters">
      <span class="root_counter" id="view__counters_likes">
        <i class="fa fa-heart" id="view__counters_likes_icon" aria-hidden="true"></i>
        <span class="root_counter__count root_counter__count--likes" id="view__counters_likes_count">0</span>
      </span>

      <span class="root_counter" id="view__counters_comments">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span class="root_counter__count" id="view__counters_comments_count">0</span>
      </span>
    </div>
  </div>
</div>
<div class="container view__container">
  <div class="view__tabs cf hidden" id="view__tabs">
    <a href="" class="view__tab view__tab--active" id="VIEW_TAB_README_LABEL">
      ABOUT
    </a>

    <a href="" class="view__tab" id="VIEW_TAB_VIEW_LABEL">
      VIEWS <span class="view__tab__counter" id="view__tabs_views_count">1</span>
    </a>

    <a href="" class="view__tab" id="VIEW_TAB_COMMENTS_LABEL">
      COMMENTS <span class="view__tab__counter" id="view__tabs_comments_count">0</span>
    </a>

    <div class="view__tab" id="VIEW_TAB_DATA_LABEL">
      <a href="/" class="hidden hidden-xs hidden-sm links__link view__title_link" target="_blank" id="view__data_link">
        <i class="fa fa-database" aria-hidden="true"></i><span class="links__link_text">Explore Data</span>
      </a>
    </div>
  </div>

  <div id="view__about">
    <div class="view__description_wrap">
      <span class="view__description" id="view__description"></span>
      <a class="view__websiteURL" id="view__websiteURL" target="_blank"></a>
    </div>

    <div class="view__readme" id="view__readme"></div>
  </div>

  <div id="view__view" class="view__page view__page--view" style="display: none;">
  </div>

  <div id="view__comments" class="view__comments" style="display: none;">
    <div id="view__comments__empty" style="display: none;"><i>There are no comments.</i></div>
    <div class="view__comments__list" id="view__comments__list"></div>
    <div id="view__new_comment" class="new_comment">
      <form>
        <div class="form-group new_comment__textarea_wrap">
              <textarea class="form-control new_comment__textarea"
                        style="height: 74px;"
                        id="view__comments__new_comment_textarea"
                        placeholder="Write a comment..."></textarea>
        </div>
        <div class="form-group text-right">
          <button type="button" class="btn btn-lg btn-success new_comment__button">Post comment</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="view__fields" id="view__fields"></div>