<div class="view__overview view__overview--root">
  <div class="container view__container">
    <div class="view__overview_image_wrap view__overview_image_wrap--large">
      <img src="" class="view__overview_image view__overview_image--large" id="view__overview_image" />
    </div>
    <div class="view__info">
      <div>
        <h1 class="view__title" id="view__title"></h1>
        <!--<i id="view__country" class="hidden"></i>-->
        <!--<i id="view__language" class="hidden"></i>-->

        <a href="/" class="hidden links__link view__title_link" target="_blank" id="view__page_link">
          <i class="fa fa-photo" aria-hidden="true"></i><span class="links__link_text">View Page</span>
        </a>


        <div class="view__tabs cf hidden" id="view__tabs">
          <a href="" class="view__tab view__tab--active" id="VIEW_TAB_README_LABEL">
            About
          </a>

          <a href="" class="view__tab" id="VIEW_TAB_VIEW_LABEL">
            Visualization <span class="view__tab__counter" id="view__tabs_views_count">0</span>
          </a>

          <a href="" class="view__tab" id="VIEW_TAB_COMMENTS_LABEL">
            Comments <span class="view__tab__counter" id="view__tabs_comments_count">0</span>
          </a>

          <div class="view__tab view__tab--right" id="VIEW_TAB_DATA_LABEL">
            <a href="/" class="hidden hidden-xs hidden-sm links__link view__title_link" id="view__data_link">
              <i class="fa fa-database" aria-hidden="true"></i><span class="links__link_text">Explore Data</span>
            </a>
            <a href="javascript:void(0)" class="hidden links__link view__title_link"
                    id="view__new_look"><i class="fa fa-plus"></i> New <span class="hidden-xs">View</span></a>
          </div>
        </div>

        
      </div>
      <!--<div class="view__comment__date view__date_wrap">-->
        <!--created <span class="view__date" id="view__date"></span> ago-->
      <!--</div>-->
    </div>

    <div class="root_counters" id="view__counters">
      <span class="root_counter" id="view__counters_likes">
        <i class="fa fa-heart" id="view__counters_likes_icon" aria-hidden="true"></i>
        <span class="root_counter__count root_counter__count--likes" id="view__counters_likes_count">0</span>
      </span>

      <span class="root_counter" id="view__counters_comments">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span class="root_counter__count" id="view__counters_comments_count">0</span>
      </span>
    </div>
  </div>
</div>

<div class="container view__container">

  <div id="view__about">

    <div class="view__about">
      <div class="block block--about">
        <div class="view__description_wrap">
          <span class="view__description" id="view__description"></span>
          <a class="view__websiteURL" id="view__websiteURL" target="_blank"></a>
        </div>
        <div class="view__tags" id="view__tags"></div>
        <div class="view__readme" id="view__readme"></div>
      </div>

      <div class="block block--look" id="view__about_look">
        <div class="view__about_look_title">
          <i class="fa fa-codepen"></i>
          <span id="view__about_look_title"></span>
        </div>
        <div id="view__about_look_codepen" class="view__about_look_codepen"></div>
      </div>
    </div>

    <div class="view__side_panel_wrap">
      <div class="view__side_panel">
        <div class="block user_snippet" id="view__user">
          <div class="user_snippet__cover" id="view__user_cover"></div>
          <img class="user_snippet__avatar" id="view__user_avatar" />
          <div class="user_snippet__follow">
            <button class="btn btn-success" id="view__user_follow">Follow</button>
          </div>
          <div class="user_snippet__name_wrap clearfix">
            <div class="user_snippet__name" id="view__user_name"></div>
            <i style="display: none;" class="fa fa-check user_snippet__verified" aria-hidden="true" id="view__user_verified"></i>
          </div>
          <div class="user_snippet__username" id="view__user_username"></div>
          <div class="user_snippet__about" id="view__user_about"></div>
          <div class="user_snippet__stats">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="view__looks" style="margin-top: 20px; display: none;">
    <div class="block block--padding" id="view__looks__empty" style="display: none;"><i>There are no views.</i></div>

    <!--<ul class="nav nav-pills view__pills view__pills&#45;&#45;looks" id="view__looks__pills">-->
      <!--<li role="presentation"><a href="#">All</a></li>-->
      <!--<li role="presentation" class="active"><a href="#">Featured</a></li>-->
      <!--<li role="presentation"><a href="#">Sandbox</a></li>-->
      <!--<li role="presentation"><a href="#">Yours</a></li>-->
    <!--</ul>-->

    <div class="look" id="view__looks__content_wrap" style="display: none">
      <div class="look__header">
        <div class="look__title" id="view__looks__title"></div>
        <div class="look__actions" id="view__looks__actions">
          <div class="look__action" id="view__looks__close"><i class="fa fa-2x fa-remove"></i></div>
          <div class="look__action look__action--only-owner"
               id="view__looks__delete"
               data-toggle="modal"
               data-target="#delete_look_modal"><i class="fa fa-2x fa-trash"></i></div>
          <div class="look__action look__action--only-owner" id="view__looks__edit"><i class="fa fa-2x fa-pencil"></i></div>
        </div>
      </div>
      <div id="view__looks__content"></div>
    </div>

    <div class="row look_previews" id="view__looks__previews"></div>
  </div>

  <div id="view__comments" class="block view__page" style="display: none;">
    <div id="view__comments__empty" style="display: none;"><i>There are no comments.</i></div>
    <div class="view__comments__list" id="view__comments__list"></div>
    <div id="view__new_comment" class="new_comment">
      <form>
        <textarea class="form-control new_comment__textarea"
                  style="height: 74px;"
                  id="view__comments__new_comment_textarea"
                  placeholder="Write a comment..."></textarea>
        <button type="button" class="btn btn-lg btn-success new_comment__button">Post comment</button>
      </form>
    </div>
  </div>
</div>

<div class="view__fields" id="view__fields"></div>
