
<div class="view__overview view__overview--root" id="view_overview">
  <div class="view__overview_image_wrap"><img class="view__overview_image" id="view__overview_image"/></div>
  <div class="view__info">
    <h1 class="view__title" id="view__title"></h1>
    <div class="view__overview-actions" id="view_overview_actions">
      <button class="view__overview-button" onclick="UI.entityForm.askDelete();"><i class="fa fa-times"></i></button>
      <button class="view__overview-button" onclick="UI.entityForm.startEditing();"><i class="fa fa-edit"></i></button>
    </div>
  </div>
</div>
<div class="container view__container">
  <div id="view__about">
    <div class="view__description" id="view__description"></div>
    <div class="view__tags" id="view__tags"></div>
    <ul class="stats">
      <li class="stats__stat-wrap">
        <div class="stats__stat">
          <div class="stats__stat-number">0</div>
          <div class="stats__stat-title">views</div>
        </div>
      </li>
      <li class="stats__stat-wrap">
        <div class="stats__stat">
          <div class="stats__stat-number">2</div>
          <div class="stats__stat-title">visitors</div>
        </div>
      </li>
      <li class="stats__stat-wrap">
        <div class="stats__stat">
          <div class="stats__stat-number">0</div>
          <div class="stats__stat-title">API calls</div>
        </div>
      </li>
      <li class="stats__stat-wrap">
        <div class="stats__stat">
          <div class="stats__stat-number">0</div>
          <div class="stats__stat-title">users</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="view__buttons"><a class="btn btn-success btn-xs" id="view__website_link" target="_blank"><i class="fa fa-globe" id="view__website_link__icon" style="margin-right: 8px"></i>Open Website</a></div>
  <div class="view__readme" id="view__readme"></div>
</div>
<div class="view__fields" id="view__fields"></div>