<div class="favorite_snippets">
    <div class="container relative">
        <h2 class="section__title section__title--top-roots">{{ site.data[page.language].strings.top_roots }}</h2>
        <div class="row" id="favorite_snippets">
        </div>
    </div>
    <script>

      (function() {
        function load() {        // Try to get roots from server
          Mydataspace.request('entities.getRoots', {
            profiles: true,
            filter: {
              language: '{{ page.language }}'
            },
            limit: 3
          }, function(data) {
            var rootsHtml = data.roots.map(function (root) {
              var avatar = MDSCommon.findValueByName(root.fields, 'avatar');
              if (MDSCommon.isBlank(avatar)) {
                avatar = '/images/icons/root.svg';
              } else {
                avatar = 'https://cdn.mydataspace.net/avatars/sm/' + avatar + '.png';
              }

              var tags = (MDSCommon.findValueByName(root.fields, 'tags') || '').split(' ').filter(function (tag) {
                return tag != null && tag != '';
              }).map(function (tag) {
                return '<span class="view__tag" onclick="openSearch_header__search(\'' + tag + '\'); return false;">' + tag + '</span>';
              }).join(' ');

              var nLikes = MDSCommon.findValueByName(root.fields, 'likes') || 0;
              var nComments = MDSCommon.findValueByName(root.fields, 'comments') || 0;

              var languageMatch = location.pathname.match(/^\/(\w\w)(\/.*)?$/);

              var lang = languageMatch ? languageMatch[1] + '/' : '';

              var footer;

              if (root.profile && data.profiles[root.profile]) {
                var authorAvatar = 'https://cdn.mydataspace.net/avatars/sm/' + (data.profiles[root.profile].avatar || 'HJYrGU87W') + '.png';
                footer =
                  '<div class="snippet__author">' +
                  '  <img class="snippet__author_avatar" src="' + authorAvatar + '" />' +
                  '  <span class="snippet__author_name">' + data.profiles[root.profile].name + '</span>' +
                  '</div>';
              } else {
                footer =
                  '<div class="snippet__date view__comment__date view__date_wrap">' +
                  '  ' + tr$('created') + ' <span class="view__date" id="view__date">' + MDSCommon.humanizeDate(root.createdAt) + '</span> ' + tr$('ago') +
                  '</div>';
              }

              return '<div class="col-md-4"><a class="block snippet clearfix" href="/' + lang + root.root + '">\n' +
                '  <div class="snippet__overview">\n' +
                '  <img class="snippet__image" src="' + avatar + '" />\n' +
                '  <div class="snippet__info' + (MDSCommon.isBlank(tags) ? ' snippet__info--small' : '') + '">\n' +
                '    <div class="snippet__title">' + (MDSCommon.findValueByName(root.fields, 'name') || root.root) + '</div>\n' +
                '    <div class="snippet__tags">' +
                (tags || '') +
                '    </div>\n' +
                '</div>\n' + // info

                '</div>\n' + // overview
                '  <div class="snippet__description">' + (MDSCommon.findValueByName(root.fields, 'description') || '') + '</div>\n' +

                '<div class="snippet__footer">' +
                footer +
                '<div class="snippet__counters">' +
                '<span class="root_counter" id="view__counters_likes"><i class="fa fa-heart" aria-hidden="true"></i><span class="root_counter__count root_counter__count--likes" id="view__counters_likes_count">' + nLikes + '</span></span>' +
                '<span class="root_counter" id="view__counters_comments"><i class="fa fa-comments" aria-hidden="true"></i><span class="root_counter__count" id="view__counters_comments_count">' + nComments + '</span></span>' +
                '</div>' +

                '</div>' + // footer

                '</a></div>';
            });

            document.getElementById('favorite_snippets').innerHTML = rootsHtml.join('');
          });
        }
        setTimeout(load, 1000);
      })();
    </script>
</div>
