{% for section in site.data[page.language].sections %}
  <section id="{{ section.id }}" class="section relative section--{{ section.id }}">
    <div style="display: none;" class="smoke smoke--light absolute absolute--fill smoke--{{ section.id }}"></div>
    <div class="container relative">
      <h2 class="section__title section__title--{{ section.id }}">{{ section.title }}</h2>
      {% if section.additional_features %}
        <div class="row">
          <div class="col-md-8 col-md-offset-4">
            <div class="additional_features additional_features--{{ section.id }}">
              {% for additional_feature in section.additional_features %}
                <div class="additional_feature clearfix">
                  <div class="additional_features__star">{% include icons/star.svg %}</div>
                  <div class="additional_features__text">{{ additional_feature }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row">
        {% for feature in section.features %}
          <div class="col-md-4 feature_column">
            <div class="feature">
              <div class="feature__icon feature__icon--{{ section.id }}">
                {% assign icon_name = "icons/" | append:feature.id | append:".svg"  %}
                {% include {{icon_name}} %}
              </div>
              <div class="feature__title">
                {{ feature.title }}
              </div>
              <div class="feature__description">
                {{ feature.description }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if section.id == "ease"%}
        <div class="section__code_simple">
          <a class="jsbin-embed"
             href="http://jsbin.com/badubufili/1/embed?js,console">
            JS Bin on jsbin.com
          </a>
          <script src="http://static.jsbin.com/js/embed.min.js?3.39.14"></script>
        </div>
      {% endif %}
    </div>
  </section>
{% endfor %}
