{% for section in site.data[page.language].sections %}
  <section id="{{ section.id }}" class="section relative section--{{ section.id }}">
    <div style="display: none;" class="smoke smoke--light absolute absolute--fill smoke--{{ section.id }}"></div>
    <div class="container relative">
      <h2 class="section__title section__title--{{ section.id }}">{{ section.title }}</h2>
      {% if section.additional_features %}
        <div class="row">
          <div class="col-md-8 col-md-offset-4">
            <div class="additional_features additional_features--{{ section.id }}">
              {% for additional_feature in section.additional_features %}
                <div class="additional_feature clearfix">
                  <div class="additional_features__star">{% include icons/star.svg %}</div>
                  <div class="additional_features__text">{{ additional_feature }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row">
        {% for feature in section.features %}
          <div class="col-md-4 feature_column">
            <div class="feature">
              <div class="feature__icon feature__icon--{{ section.id }}">
                {% assign icon_name = "icons/" | append:feature.id | append:".svg"  %}
                {% include {{icon_name}} %}
              </div>
              <div class="feature__title">
                {{ feature.title }}
              </div>
              <div class="feature__description">
                {{ feature.description }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if section.id == "ease"%}
        <div class="section__code_simple_description">
          {{ section.code_simple_description }}
        </div>
        <div class="section__code_simple">
          <p data-height="560" data-theme-id="0" data-slug-hash="PGwmgZ" data-default-tab="js,result" data-user="mydataspace" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/mydataspace/pen/PGwmgZ/">Search by spreex.github.io demo</a> by My Data Space (<a href="http://codepen.io/mydataspace">@mydataspace</a>) on <a href="http://codepen.io">CodePen</a>.</p>
          <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        </div>
      {% endif %}
    </div>
  </section>
{% endfor %}
