<footer class="footer" id="page_footer">
  <script type="text/javascript">
  if (window.parent !== window) {
    document.getElementById('page_footer').style.display = 'none';
  }
  </script>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer__about">
        <img class="footer__logo" src="https://cdn.web20site.com/content/images/logo/1.0/logo-150x150.png" />
        <div class="footer__copyright">© 2019 Fastlix. All rights reserved.</div>

        <div class="clearfix footer__socials">
          <a class="footer__link footer__link--social" href="{{ site.github_url }}" target="_blank"><i class="fa fa-github"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
          {% if page.language == 'ru' %}
          <a class="footer__link footer__link--social" href="{{ site.vk_url }}" target="_blank"><i class="fa fa-vk"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.zen_url }}" target="_blank"><i class="fa fa-align-left"></i></a>
          {% endif %}
        </div>
      </div>

      <div class="col-md-4">
        <a class="footer__link footer__link--section" href="{{ baseurl }}/docs">{{ site.data[page.language].menu.docs }}</a>
        {% for doc in site.data[page.language].docs %}
          <a class="footer__link footer__link--subsection" href="{{ baseurl }}/docs/{{ doc.id }}">{{ doc.title }}</a>
        {% endfor %}
      </div>

      <div class="col-md-4">
        <span class="footer__link footer__link--section">{{ site.data[page.language].strings.security }}</span>
        <a class="footer__link footer__link--subsection" href="/privacy">{{ site.data[page.language].strings.privacy }}</a>
        <a class="footer__link footer__link--subsection" href="/terms">{{ site.data[page.language].strings.terms }}</a>
        <a class="footer__link footer__link--subsection" href="/gdpr">GDPR</a>
      </div>
    </div>
  </div>

{% if false %}
<script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>
<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
if (window.parent === window) {
  VK.Widgets.CommunityMessages("vk_community_messages", 127607773);
}
</script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84590190-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-84590190-3');
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(49430107, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/49430107" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</footer>
