<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="footer__link footer__link--section" href="{{ baseurl }}/get-started">{{ site.data[page.language].menu.get_started }}</a>
        {% for example in site.data[page.language].get_started %}
          <a class="footer__link footer__link--subsection" href="{{ baseurl }}/get-started/{{ example.id }}">{{ example.title }}</a>
        {% endfor %}
      </div>
      <div class="col-md-3">
        <a class="footer__link footer__link--section" href="{{ baseurl }}/demos">{{ site.data[page.language].menu.demos }}</a>
        {% for demo in site.data[page.language].demos %}
          <a class="footer__link footer__link--subsection" href="{{ baseurl }}/demos#{{ demo.id }}">{{ demo.title }}</a>
        {% endfor %}
      </div>
      <div class="col-md-3">
        <a class="footer__link footer__link--section" href="{{ baseurl }}/docs">{{ site.data[page.language].menu.docs }}</a>
        {% for doc in site.data[page.language].docs %}
          <a class="footer__link footer__link--subsection" href="{{ baseurl }}/docs/{{ doc.id }}">{{ doc.title }}</a>
        {% endfor %}
      </div>
      <div class="col-md-3">
        <div class="clearfix footer__socials">
          <a class="footer__link footer__link--social" href="{{ site.angellist_url }}" target="_blank"><i class="fa fa-angellist"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.codepen_url }}" target="_blank"><i class="fa fa-codepen"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.github_url }}" target="_blank"><i class="fa fa-github"></i></a>
          <a class="footer__link footer__link--social" href="{{ site.vk_url }}" target="_blank"><i class="fa fa-vk"></i></a>
          <!--<a class="footer__link footer__link&#45;&#45;social" href="{{ site.google_plus_url }}" target="_blank"><i class="fa fa-google-plus"></i></a>-->
          <a class="footer__link footer__link--social" href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
