
<div id="give_feedback_modal"
     class="modal"
     role="dialog"
     aria-labelledby="Give Feedback">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header look_modal__header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-title">{{ site.data[page.language].menu.give_feedback }}</div>
            </div>
            <div class="modal-body look_modal__body">
                <div>
                    <textarea id="give_feedback_modal__text" rows="5" class="form-control" placeholder="{{ site.data[page.language].menu.give_feedback_placeholder }}"></textarea>
                </div>
                <div id="give_feedback_modal__error" class="give_feedback_modal__error"></div>
                <div class="give_feedback_modal__send_mail">{{ site.data[page.language].menu.give_feedback_send_mail }} <a href="mailto:support@myda.space">support@myda.space</a></div>
            </div>
            <div class="modal-footer look_modal__footer">
                <a href="/feedback" target="_blank" class="give_feedback_modal__view_all">{{ site.data[page.language].menu.give_feedback_view_all }}</a>
                <button class="btn btn-primary give_feedback_modal__send" id="give_feedback_modal__send">{{ site.data[page.language].menu.send_feedback }}</button>
            </div>
        </div>
    </div>
</div>

<div id="give_feedback_sent_modal"
     class="modal"
     role="dialog"
     aria-labelledby="Feedback Sent">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header look_modal__header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-title">{{ site.data[page.language].menu.feedback_sent_title }}</div>
            </div>
            <div class="modal-body look_modal__body">
                {{ site.data[page.language].menu.feedback_sent_message }}
            </div>
            <div class="modal-footer look_modal__footer">
                <button class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
  function showFeedbackModal(needClear) {
    if (needClear) {
      $('#give_feedback_modal__text').val('');
      $('#give_feedback_modal__send').prop('disabled', false);
      $('#give_feedback_modal__text').prop('disabled', false);
      $('#give_feedback_modal__text').removeClass('new_comment__textarea--error');
      $('#give_feedback_modal__error').text('');
    }
    $('#give_feedback_modal').modal('show');
  }

  $(function() {
    var $textarea = $('#give_feedback_modal__text');
    var $button = $('#give_feedback_modal__send');
    var $error = $('#give_feedback_modal__error');


    function giveFeedback() {
      $textarea.removeClass('new_comment__textarea--error');

      if ($textarea.val().trim() === '') {
        $textarea.addClass('new_comment__textarea--error');
        $error.text('{{ site.data[page.language].menu.feedback_cant_be_blank }}');
        $textarea.focus();
        return;
      }

      $button.prop('disabled', true);
      $textarea.prop('disabled', true);

      Mydataspace.request('entities.create', {
        root: 'feedback',
        path: 'data/' + MDSCommon.guid(),
        fields: [
          {
            name: 'text',
            value: $textarea.val().trim(),
            type: 's'
          },
          {
            name: 'rate',
            value: '0',
            type: 'i'
          }
        ]
      }, function () {
        $('#give_feedback_modal').modal('hide');
        $('#give_feedback_sent_modal').modal('show');
      }, function (err) {
        $button.prop('disabled', false);
        $textarea.prop('disabled', false);
        console.log(err);
        $error.text(err.message);
        $textarea.focus();
      });
    }


    $('#give_feedback_modal').on('shown.bs.modal', function () {
      setTimeout(function() {
        $textarea.focus();
      }, 300);
    });

    $button.click(function () {

      if (!Mydataspace.isLoggedIn()) {
        Mydataspace.on('login', function () {
          setTimeout(function() {
            showFeedbackModal();
            giveFeedback();
          }, 300);
        });
        $('#give_feedback_modal').modal('hide');
        setTimeout(function() {
          $('#signin_modal').modal('show');
        }, 300);
        return;
      }
      giveFeedback();
    });
  });
</script>