<header id="header" class="header">
  <div class="container">
    <div class="intro">
      <div class="row">
        <div class="col-md-8 intro__slogans">
          <div class="intro__slogans_link">
            <div class="intro__slogan_wrap">
              <div class="intro__slogan_offset">
                <h1 class="intro__slogan">{{ site.data[page.language].slogan }}<span class="intro__slogan_caret">_</span></h1>
                <div class="intro__description">{{ site.data[page.language].slogan_description }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 intro__login">
          {% include auth_prompt.html hide_prompt_on_xs=true %}
        </div>
      </div>

      <div class="row intro__example intro__example--{{ page.language }} hidden-xs hidden-sm">

        <div class="col-md-8">
          <div class="safari intro__example_window">
            <video id="intro__example_video" class="safari__video safari__video--windows" src="{{ site.cdn_url }}/content/videos/landing/1.0/file-storage.mp4" muted loop></video>
            <div class="safari__video-description" id="intro__example_video_description"></div>
          </div>
        </div>

        <div class="col-md-4 intro__example_description">
          <div id="intro__example_description_list" class="example-description-list">
            {% for desc in site.data[page.language].example_descriptions %}
              <div id="intro__example_description_{{ desc.id }}"
                   class="example-description"
                   onclick="intro_showDescription('{{ desc.id }}', '{{ desc.text }}', '{{ desc.type }}');"
              >{{ desc.title }}</div>
            {% endfor %}
          </div>
        </div>
        <script>
          function intro_showDescription(id, text, type) {
            var video = document.getElementById('intro__example_video');
            var videoDescription = document.getElementById('intro__example_video_description');

            switch (type) {
              case 'video':
                video.poster = '{{ site.cdn_url }}/content/videos/landing/1.3/' + id + '.jpg';
                video.src = '{{ site.cdn_url }}/content/videos/landing/1.3/' + id + '.mp4';
                video.style.backgroundImage = '';
                break;
              case 'image':
                video.poster = '';
                video.src = '';
                video.style.backgroundImage = 'url({{ site.cdn_url }}/content/videos/landing/1.3/' + id + '.jpg)';
                break
            }
            videoDescription.innerHTML = text;

            var items = document.querySelectorAll('#intro__example_description_list > .example-description');

            items.forEach(function (item) {
              item.classList.remove('example-description--active');
            });

            document.getElementById('intro__example_description_' + id).classList.add('example-description--active');

            video.play();
          }

          document.getElementById('intro__example_description_skeletons').click();
        </script>
      </div>
    </div>
  </div>
</header>