<header id="header" class="header">
  <div class="container">
    <div class="intro">
      <div class="row">
        <div class="col-md-9 intro__slogans">
          <a href="{{ baseurl }}/features" class="intro__slogans_link">
            <div class="intro__slogan_wrap intro__slogan_wrap--1">
              <div class="intro__slogan_offset">
                <h1 class="intro__slogan">{{ site.data[page.language].slogan }}</h1>
                <div class="intro__description">{{ site.data[page.language].slogan_description }}</div>
              </div>
            </div>

            <div class="intro__slogan_wrap intro__slogan_wrap--2">
              <div class="intro__slogan_offset">
                <h1 class="intro__slogan">{{ site.data[page.language].slogan_2 }}</h1>
                <div class="intro__description">{{ site.data[page.language].slogan_description_2 }}</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3">
          {% include auth_prompt.html hide_prompt_on_xs=true %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    // if (window.innerHeight > 800 && window.innerWidth > 1200) {
    //   document.getElementById('header').style.height = (window.innerHeight - 52 - 270) + 'px';
    // }
    // window.addEventListener('resize', function() {
    //   if (window.innerHeight > 800 && window.innerWidth > 1200) {
    //     document.getElementById('header').style.height = (window.innerHeight - 52 - 270) + 'px';
    //   }
    //   else {
    //     document.getElementById('header').style.height = 'auto';
    //   }
    // });
  </script>
</header>