<div class="links clearfix">
{% if include.links.source_code_url %}
  <a href="{{ include.links.source_code_url }}" class="links__link" target="_blank">
    <i class="fa fa-code-fork" aria-hidden="true"></i><span class="links__link_text">{{ site.data[page.language].strings.view_source_code }}</span>
  </a>
{% endif %}
{% if include.links.data_url %}
  <a href="{{ include.links.data_url }}" class="links__link" target="_blank">
    <i class="fa fa-database" aria-hidden="true"></i><span class="links__link_text">{{ site.data[page.language].strings.view_data }}</span>
  </a>
{% endif %}
{% if include.links.doc_url %}
  <a href="{{ baseurl }}{{ include.links.doc_url }}" class="links__link">
    <i class="fa fa-book" aria-hidden="true"></i><span class="links__link_text">{{ site.data[page.language].strings.view_doc }}</span>
  </a>
{% endif %}
</div>
