<script>
  Mydataspace = new Myda({
    apiURL: '{{ api_url }}',
    cdnURL: '{{ cdn_url }}',
    websocketURL: '{{ api_websocket_url }}',
    clientId: '{{ client_id }}',
    permission: 'admin',
    simpleFormat: false,
    connected: function() {
      Mydataspace.on('users.getMyProfile.res', function(data) {
        if (!document.getElementById('profile_button')) {
          return;
        }

        var avatar = MDSCommon.isPresent(data.avatar) ? data.avatar : '/images/no_avatar_small.png';

        document.getElementById('profile_button').style.backgroundImage = 'url(' + avatar + ')';
        document.getElementById('profile_button__dropdown_name').innerText = data.name;
        document.getElementById('profile_button__dropdown_profile').style.backgroundImage = 'url(' + avatar + ')';
        if (typeof $ !== 'undefined') {
          $('#signin_modal').modal('hide');
        }
      });
    }
  });
</script>
