<nav class="navbar navbar-inverse navbar-custom">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand header__logo" href="{{ baseurl }}/">
              <img class="header__logo_img" src="/images/transparent_logo_128.png" />
              <img class="header__logo_text" src="/images/logo_text.svg" />
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <i class="fa fa-2x fa-bars"></i>
            </button>
        </div>

        {% include search.html id="header__search" admin=false resultContainer="search" %}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="{{ baseurl }}/get-started">{{ site.data[page.language].menu.get_started }}</a>
                </li>
                <li>
                    <a href="{{ baseurl }}/demos">{{ site.data[page.language].menu.demos }}</a>
                </li>
                <li>
                    <a href="{{ baseurl }}/docs">{{ site.data[page.language].menu.docs }}</a>
                </li>
                <li>
                {% if page.url != "/404.html" %}
                  <ul class="header__languages">
                  <li class="header__language">
                    {% if page.language == site.default_language %}
                      {% assign url = page.url %}
                    {% else %}
                      {% assign page_lang = page.language | prepend:'/' | append:'/' %}
                      {% assign url = page.url | replace_first:page_lang,"/" %}
                    {% endif %}
                    {% if site.default_language == page.language %}
                    <a class="header__language_button header__language_button--active" href="{{ url }}">{{ site.default_language | upcase }}</a>
                    {% else %}
                    <a class="header__language_button" href="{{ url }}">{{ site.default_language | upcase }}</a>
                    {% endif %}
                  </li>
                  {% for lang in site.languages %}
                    <li class="header__language">
                      {% assign page_lang = page.language | prepend:'/' | append:'/' %}
                      {% assign curr_lang = lang | prepend:'/' | append:'/' %}

                      {% if lang == page.language %}
                        {% assign url = page.url %}
                      {% elsif page.language == site.default_language %}
                        {% assign url = page.url | prepend:lang | prepend:'/' %}
                      {% else %}
                        {% assign url = page.url | replace_first:page_lang,curr_lang %}
                      {% endif %}

                      {% if lang == page.language %}
                        <a id="header_language_button_{{lang}}" class="header__language_button header__language_button--active" href="{{ url }}">
                          {{ lang | upcase }}
                        </a>
                      {% else %}
                        <a id="header_language_button_{{lang}}" class="header__language_button" href="{{ url }}">
                          {{ lang | upcase }}
                        </a>
                      {% endif %}
                    </li>
                  {% endfor %}
                  </ul>
                {% endif %}
                </li>
                {% if page.url != baseurl_with_trailing_slash %}
                <li id="profile_button_menu_item">
                  <script>
                    if (isValidJWT(localStorage.getItem('authToken'))) {
                      document.getElementById('profile_button_menu_item').style.display = 'block';
                    }
                  </script>
                  <a id="profile_button" class="profile_button" href="{{ baseurl }}/"></a>
                </li>
                <li id="login_button_menu_item">
                  <script>
                    if (isValidJWT(localStorage.getItem('authToken'))) {
                      document.getElementById('login_button_menu_item').style.display = 'none';
                    }
                  </script>
                  <button id="login_button"
                          class="login_button btn btn-default"
                          data-toggle="modal"
                          data-target="#signin_modal">
                  {{ site.data[page.language].menu.login }}
                  </button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <script>
        (function() {
            if (/^(\/\w+)?\/root.html$/.test('{{ url }}')) {
              var m = location.pathname.match(/^(\/\w+)?\/(\w+)$/);
              if (m) {
                document.getElementById('header_language_button_ru').href = '/ru/' + m[2];
                document.getElementById('header_language_button_').href = '/' + m[2];
              }
            }
        })();
    </script>
</nav>

<div id="search" class="search">
</div>