{% assign page_url_parts = page.url | split: '/' %}

{% if page.language == site.default_language %}
{% assign baseurl = "" %}
{% assign baseurl_with_trailing_slash = baseurl | append:"/" %}
{% assign root_page_name = page_url_parts[1] %}
{% else %}
{% assign baseurl = page.language | prepend:"/" %}
{% assign baseurl_with_trailing_slash = baseurl | append:"/" %}
{% assign root_page_name = page_url_parts[2] %}
{% endif %}

<nav class="navbar navbar-inverse navbar-custom">
    <div class="{%if include.for_loader %}loader-nav-container{% else %}container{% endif %}">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand header__logo" href="{{ baseurl }}/">
              <img class="header__logo_img_with_text" src="/images/logo.web20.png" />
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <i class="fa fa-2x fa-bars"></i>
            </button>
        </div>

        {% if root_page_name == 'search' %}
        {% include search.html id="header__search" admin=false resultContainer="search" %}
        {% endif %}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="header__menu_item {% if root_page_name == 'pricing' %}header__menu_item--active{% endif %}" href="{{ baseurl }}/pricing">{{ site.data[page.language].menu.pricing }}</a>
                </li>

                <li>
                    <a class="header__menu_item {% if root_page_name == 'docs' %}header__menu_item--active{% endif %}" href="{{ baseurl }}/docs">{{ site.data[page.language].menu.docs }}</a>
                </li>

                <li>
                  <a class="header__menu_item {% if root_page_name == 'search' %}header__menu_item--active{% endif %}" href="{{ baseurl }}/search">{{ site.data[page.language].menu.skeletons }}</a>
                </li>

                {% if page.language == 'ru' %}
                <li>
                  <a class="header__menu_item {% if root_page_name == 'blog' %}header__menu_item--active{% endif %}" href="{{ baseurl }}/blog">{{ site.data[page.language].menu.blog }}</a>
                </li>
                {% endif %}

                {%if include.for_loader %}
                <li>
                  <a class="header__menu_item"><i style="margin-left: 10px; margin-right: 5px; font-size: 20px" class="fa fa-bars"></i></a>
                </li>
                {% else %}
                <li id="profile_button_menu_item">
                  <script>
                    if (isValidJWT(localStorage.getItem('authToken'))) {
                      document.getElementById('profile_button_menu_item').style.display = 'block';
                    }
                  </script>

                  <div class="btn-group">
                    <button type="button"
                            id="profile_button"
                            class="dropdown-toggle profile_button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <button class="profile_button_logout" onclick="Mydataspace.logout();">{{ site.data[page.language].menu.logout }}</button>

                    <ul class="dropdown-menu profile_button__dropdown">
                      <li>
                        <a class="profile_button__dropdown_profile_link"
                           id="profile_button__dropdown_profile_link">
                          <div class="profile_button__dropdown_profile" id="profile_button__dropdown_profile">
                            <div id="profile_button__dropdown_name" class="profile_button__dropdown_name profile_button__dropdown_name--no-login">Anonymous</div>
                          </div>
                        </a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/"><i class="fa fa-database"></i> <span class="profile_button__dropdown_item">{{ site.data[page.language].menu.myData }}</span></a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#" onclick="Mydataspace.logout();"><i class="fa fa-sign-out"></i> <span class="profile_button__dropdown_item">{{ site.data[page.language].menu.logout }}</span></a></li>
                    </ul>
                  </div>
                </li>
                <li id="login_button_menu_item">
                  <script>
                    if (isValidJWT(localStorage.getItem('authToken'))) {
                      document.getElementById('login_button_menu_item').style.display = 'none';
                    }
                  </script>

                  <a id="login_button"
                     class="header__menu_item"
                     href="javascript: void(0)"
                     data-toggle="modal"
                     data-target="#signin_modal">{{ site.data[page.language].menu.login }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <script>
      Mydataspace.connect();
      Mydataspace.on('login', function() {
        document.getElementById('login_button_menu_item').style.display = 'none';
        document.getElementById('profile_button_menu_item').style.display = 'block';
        Mydataspace.emit('users.getMyProfile', {});
      });
      Mydataspace.on('logout', function() {
        document.getElementById('login_button_menu_item').style.display = 'block';
        document.getElementById('profile_button_menu_item').style.display = 'none';
      });

        // (function() {
        //     if (/^(\/\w+)?\/root.html$/.test('{{ url }}')) {
        //       var m = location.pathname.match(/^(\/\w+)?\/([\w\d_\-]+)\/?$/);
        //       if (m) {
        //         document.getElementById('header_language_button_ru').href = '/ru/' + m[2];
        //         document.getElementById('header_language_button_en').href = '/' + m[2];
        //       }
        //     }
        // })();
    </script>
</nav>

<div id="search" class="search"></div>
