<form class="navbar-form navbar-left header__search_wrap hidden-sm" id="{{include.id}}">
  <div class="form-group">
    <input id="{{include.id}}_input"
           type="text"
           class="form-control header__search_input"
           placeholder="{{ site.data[page.language].strings.search }}"
    />
  </div>

  <script type="text/javascript">
    var isAdmin_{{include.id}} = {{include.admin}};

    function closeSearch_{{include.id}}() {
      document.getElementById('{{include.resultContainer}}').style.display = 'none';
      if (isAdmin_{{include.id}}) {
        document.getElementById('webix_preloaded_header').classList.remove('webix_preloaded_header--top');
      } else {
        document.getElementsByTagName('body')[0].classList.remove('body_fixed');
        var header = document.getElementById('header');
        if (header) {
          header.style.display = 'block';
        }
        document.getElementsByClassName('smoke')[0].classList.remove('smoke--fullscreen');
        document.getElementsByClassName('navbar')[0].classList.remove('navbar--fixed');
      }
    }

    function openSearch_{{include.id}}(search) {
      document.getElementById('{{include.id}}_input').value = search;
      document.getElementById('{{include.id}}_input').focus();
      startSearch_{{include.id}}(search);
    }

    function startSearch_{{include.id}}(search) {
      // Try to get roots from server
      Mydataspace.request('entities.getRoots', {
        search: search
      }, function(data) {
        var rootsHtml = data.roots.map(function(root) {
          var avatar = MDSCommon.findValueByName(root.fields, 'avatar');
          if (MDSCommon.isBlank(avatar)) {
            avatar = '/images/icons/root.svg';
          } else {
            avatar = 'https://cdn.mydataspace.net/avatars/sm/' + avatar + '.png';
          }

          var tags = (MDSCommon.findValueByName(root.fields, 'tags') || '').split(' ').filter(function(tag) {
            return tag != null && tag != '';
          }).map(function(tag) {
            return '<span class="view__tag" onclick="openSearch_{{include.id}}(\'' + tag + '\'); return false;">' + tag + '</span>';
          }).join(' ');

          var nLikes = MDSCommon.findValueByName(root.fields, 'likes') || 0;
          var nComments = MDSCommon.findValueByName(root.fields, 'comments') || 0;

          var languageMatch = location.pathname.match(/^\/(\w\w)(\/.*)?/);

          var lang = languageMatch ? languageMatch[1] + '/' : '';

          return '<div class="col-md-4"><a class="snippet clearfix" href="/' + lang + root.root + '">\n' +
            '  <div class="snippet__overview">\n' +
            '  <img class="snippet__image" src="' + avatar + '" />\n' +
            '  <div class="snippet__info' + (MDSCommon.isBlank(tags) ? ' snippet__info--small' : '') + '">\n' +
            '    <div class="snippet__title">' + (MDSCommon.findValueByName(root.fields, 'name') || root.root) + '</div>\n' +
            '    <div class="snippet__tags">' +
            (tags || '') +
            '    </div>\n' +
            '</div>\n' + // info

            '</div>\n' + // overview
            '  <div class="snippet__description">' + (MDSCommon.findValueByName(root.fields, 'description') || '') + '</div>\n' +

            '<div class="snippet__footer">' +
            '<div class="snippet__date view__comment__date view__date_wrap">' +
            '  ' + STRINGS.created + ' <span class="view__date" id="view__date">' + MDSCommon.humanizeDate(root.createdAt) + '</span> ' + STRINGS.ago +
            '</div>' +

            '<div class="snippet__counters">' +
            '<span class="root_counter" id="view__counters_likes"><i class="fa fa-heart" aria-hidden="true"></i><span class="root_counter__count root_counter__count--likes" id="view__counters_likes_count">' + nLikes + '</span></span>' +
            '<span class="root_counter" id="view__counters_comments"><i class="fa fa-comments" aria-hidden="true"></i><span class="root_counter__count" id="view__counters_comments_count">' + nComments + '</span></span>' +
            '</div>' +

            '</div>' + // footer

            '</a></div>';
        });
        document.getElementById('{{include.resultContainer}}').innerHTML =
          rootsHtml.length > 0 ? '<div class="container search__content"><div class="row">' + rootsHtml.join('\n') + '</div></div>' : "WTF????";
      }, function(err) {
        console.log(err);
      });
    }

    //
    // Show suggestions when search input focused
    document.getElementById('{{include.id}}_input').addEventListener('focus', function() {
      document.getElementById('{{include.resultContainer}}').style.display = 'block';
      if (isAdmin_{{include.id}}) {
        document.getElementById('webix_preloaded_header').classList.add('webix_preloaded_header--top');
      } else {
        document.getElementsByTagName('body')[0].classList.add('body_fixed');
        var header = document.getElementById('header');
        if (header) {
          header.style.display = 'none';
        }
        document.getElementsByClassName('smoke')[0].classList.add('smoke--fullscreen');
        document.getElementsByClassName('navbar')[0].classList.add('navbar--fixed');
      }
      startSearch_{{include.id}}('');
    });

    //
    // Filter suggestions when search input text changed
    document.getElementById('{{include.id}}_input').addEventListener('keyup', function(event) {
      if (event.keyCode === 27) {
        closeSearch_{{include.id}}();
        document.getElementById('{{include.id}}_input').blur();
        return;
      }
      startSearch_{{include.id}}(document.getElementById('{{include.id}}_input').value);
    }, false);

    if (isAdmin_{{include.id}}) {
      window.addEventListener('hashchange', function() {
        closeSearch_{{include.id}}();
      }, false);
    }
  </script>
</form>