<div class="sub_footer">
  <div class="container">
    {% if site.data[page.language].final_prompt != "" %}
    <div class="sub_footer__prompt">{{ site.data[page.language].final_prompt }}</div>
    {% endif %}
    <button id="sub_footer__botton" class="btn btn-success sub_footer__botton">{{ site.data[page.language].get_started }}</button>
  </div>
  <script type="text/javascript">
    // document.getElementById('sub_footer__botton').addEventListener('click', function() {
    //   // $('.signin_modal').modal('show');
    //
    // });
    document.addEventListener("DOMContentLoaded", function(event) {
      $("#sub_footer__botton").popover({
        placement: 'top',
        html : true,
        trigger: 'focus',
        content: function() {
          return $("#signin_popover").html();
        },
        title: '<h4>Sign in with:</h4>'
      });
    });
  </script>
</div>
