<div class="waiting_cloak" id="waiting_cloak">
  <div id="waiting_cloak__look">
    <div class="look__header">
      <div class="look__header">
        <div class="look__title">
          <i class="fa fa-cog fa-spin"></i> <span class="look__title_text" id="waiting_cloak__look__title">{{ site.data[page.language].waiting_cloak }}</span>
        </div>
      </div>
      <div class="look__actions" id="root__looks__actions">
        <div class="look__action"><i class="fa fa-2x fa-remove"></i></div>
      </div>
    </div>
    <div id="waiting_cloak__look_list" class="container waiting_cloak__look_list">
      <img class="waiting_cloak__look_list__img" src="/images/waiting_cloak__look_list.jpg" />
    </div>
  </div>
  <script>
    (function() {
      if (/^(\/\w\w)?\/[^/]+\/views\/[^/]+$/.test(window.location.pathname)) {
        document.getElementById('waiting_cloak').style.display = 'block';
      }
    })();
  </script>
</div>