<div class="waiting_cloak" id="waiting_cloak">
  <div class="fa fa-cog fa-spin" style="
    position: absolute;
    color: #85b4d4;
    font-size: 150px;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
"></div>

  <div id="waiting_cloak__look" class="waiting_cloak__look">
      <img class="waiting_cloak__look_list__img" src="%%avatar%%" />
      <!--
    <div id="waiting_cloak__look_list" class="container waiting_cloak__look_list">

      <img class="waiting_cloak__look_list__img" src="%%avatar%%" />

    </div>
    -->
  </div>
  <script>
    (function() {
      if (/^(\/\w\w)?\/[^/]+\/views\/[^/]+$/.test(window.location.pathname)) {
        document.getElementById('waiting_cloak').style.display = 'block';
      }
    })();
  </script>
</div>