<script src="/js/no-items.js"></script>

<script type="text/javascript">
  if (!isValidJWT(localStorage.getItem('authToken')) &&
    !(window.location.hash && window.location.hash !== '' && window.location.hash !== '#')) {
    document.getElementById('webix').style.display = 'none';
  }
</script>

{% if include.with_header == true %}
<div class="webix_preloaded_header invisible" id="webix_preloaded_header"></div>
<a class="logo invisible" href="/" id="logo_link">
    <img class="header__logo_img_with_text header__logo_img_with_text--admin" src="https://cdn.web20site.com/content/images/logo/1.0/logo-text.png" />
</a>
{% else %}
<script>
  webix.without_header = true;
</script>
{% endif %}

<div id="admin_panel__loading">
  <div class="page_top">
    <div class="smoke">
      {% include nav.html for_loader=true %}
    </div>
  </div>


  <div class="lds-facebook">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>

<div id="no_items" class="no_items invisible">
  <div id="no_items__no_apps"></div>

  <div class="no_items__content" id="no_items__no_data">
    <div class="container">
      <div id="no_items__title" class="no_items__no_apps"></div>
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4"></div>

        <div class="col-sm-7 col-md-5 col-lg-4 no_items__column">
          <div style="margin-bottom: 5px;">{{ site.data[page.language].strings.template }}:</div>
          <div id="no_items__template_wrap" class="no_items__template_wrap" onclick="no_items__initTemplates()">
            <div id="no_items__template" class="snippet__overview snippet__overview--no-margin">
              <img id="no_items__template_img" class="snippet__image"  />
              <div class="snippet__info" style="padding-bottom: 0">
                <div id="no_items__template_title" class="snippet__title"></div>
                <div id="no_items__template_description" class="snippet__description snippet__description--full"></div>
                <!--<div id="no_items__template_tags" class="snippet__tags"></div>-->
              </div>
            </div>
          </div>


          <div class="no_items__center no_items__center--right">
            <div class="no_items__new_root clearfix">
              <input id="no_items__new_root_input"
                     type="text"
                     class="no_items__new_root_input form-control"
                     onkeyup="no_items__validateNewWebsiteDomain(true)"
                     onchange="no_items__validateNewWebsiteDomain()"
                     onkeypress="no_items__new_root_input__onKeyPress(event)"
                     placeholder="{{ site.data[page.language].strings.new_root_name }}" />
            </div>

            <div id="no_items__notice" class="no_items__notice"></div>
          </div>

          <button class="btn btn-success btn-lg no_items__btn no_items__btn--bottom"
                  onclick="no_items__createNewWebsite()"
                  id="no_items__create__button"></button>
        </div>
      </div>
      <script>
        (function () {
          if (Mydataspace.isLoggedIn()) {
            no_items__selectTemplate(STRINGS.default_template);
          } else {
            Mydataspace.on('login', function () {
              no_items__selectTemplate(STRINGS.default_template);
            });
          }
        })();
      </script>
    </div>
  </div>
</div>

<div id="no_items_select_template_modal"
     class="modal"
     role="dialog"
     aria-labelledby="Select Skeleton">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header look_modal__header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">{{ site.data[page.language].strings.select_template_title }}</div>
      </div>
      <div class="modal-body look_modal__body" id="no_items_select_template_modal_templates"></div>
      <div class="modal-footer look_modal__footer">
        <a target="_blank" href="/search" style="margin-right: 20px; font-weight: bold;">{{ site.data[page.language].strings.see_all_skeletons }}</a>
        <button class="btn btn-default" data-dismiss="modal">{{ site.data[page.language].strings.cancel }}</button>
      </div>
    </div>
  </div>
</div>


<div id="admin_panel" class="admin_panel invisible {% if include.with_header == false %}admin_panel--without-header{% endif %}"></div>

{% if include.with_header == true %}

<div id="webix_search"></div>

{% endif %}