.admin_panel {
  top: -1px;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  overflow: hidden;

}

.admin_panel__header {
  button {
    font-size: 14px !important;
  }
  button:hover {
    color: white !important;
  }
}

.edit_script_window {
  box-shadow: none !important;
}

.entity_form__arrow {
  width: 20px;
  height: 20px;
  background: #272822;
  z-index: 100;
}

.entity_list__search {
  input {
    background-color: $search-bg !important;
    border-color: $search-border-color !important;
    border-radius: $search-border-radius !important;
    padding-left: 20px;
  }
  .webix_input_icon {
    right: $search-border-radius / 2 - 2px !important;
    padding-top: 7px !important;
    font-size: 16px !important;
    color: $search-hover-color !important;
  }
}

.entity_tree__search {
  input {
    background-color: $search-bg !important;
    border-color: $search-border-color !important;
    border-radius: 0 !important;
    border-top-right-radius: $search-border-radius !important;
    border-bottom-right-radius: $search-border-radius !important;
    border-left: 0 !important;
    padding-left: 15px;
    // text-align: center !important;
    text-align: left !important;
    &:focus {
      // text-align: left !important;
      // padding-left: 35px;
    }
  }
  .webix_input_icon {
    display: none;
    right: $search-border-radius / 2 !important;
    padding-top: 7px !important;
    font-size: 16px !important;
    color: $search-hover-color !important;
  }
  // .webix_input_icon--right {
  //   left: $search-border-radius / 2 - 4px !important;
  //   right: initial;
  // }
}

.entity_tree__search_button {
  transform: translateX(8px);
  button {
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    background: $brand-bg !important;
    border-color: $brand-bg !important;
    .webix_icon {
      color: white !important;
    }
  }
}

input:read-only {
    border: 1px solid transparent !important;
    box-shadow: none !important;
}

.webix_tree_folder_open {
  background-image: none;
  font-size: 17px;
  padding-top: 5px;
  color: $brand-bg !important;
}

// .webix_tree_folder_open--root {
//   background-image: url(/images/icons/root.svg);
// }

.webix_tree_folder_open--tasks {
  background-image: url(/images/icons/tasks.svg);
}

.webix_tree_folder_open--protos {
  background-image: url(/images/icons/protos.svg);
}

.webix_tree_folder_open--task {
  background-image: url(/images/icons/task.svg);
}

.webix_tree_folder_open--logs {
  background-image: url(/images/icons/logs.svg);
}


/*
 * Fix bug with horizon
 */
.webix_tree > .webix_scroll_cont {
  width: auto !important;
}

.menu__login_button {
  height: 40px !important;
  margin-top: 5px !important;
}

.menu__login_button .webix_el_box {
  height: 40px !important;
}

.menu__login_button button,
.menu__login_button button:focus,
.menu__login_button button:hover,
.menu__login_button button:active {
  background: white !important;
  color: black !important;
  border-color: #ccc !important;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.menu__login_button button:hover,
.menu__login_button button:active {
  opacity: 1;
  transition: opacity 0.3s;
}

#admin_panel__loading {
  text-align: center;
  margin-top: 150px;
  color: $brand-bg;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.image-for-social-medias {
  position: absolute;
  width: 400px;
  visibility: hidden;
}

.logo {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  height: $header-height;
  width: 350px;
}

.logo:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.logo__img {
  transform: rotate(0);
  transition: transform 0.3s;
  width: $logo-size;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.3s, transform 0.3s;
}

.logo:hover .logo__img {
  transform: rotate(90deg);
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
}

.logo__img_wrap {
  border-radius: 50%;
  background: $header-bg;
  float: left;
  margin-left: 3px;
  margin-top: 1px;
  width: $logo-size;
}

.logo__text_img {
  margin-top: 9px; // ($header-height - $logo-text-height) / 2 + 1;
  display: block;
  float: left;
  color: white;
  padding-left: 7px;
  opacity: 0.7;
  transition: opacity 0.3s;
  transform: translate(80px, 00px) scale(2.5, 1.5);
}

.logo:hover .logo__text_img {
  opacity: 1;
  transition: opacity 0.3s;
}



/**
 * Site header style
 */

 .webix_preloaded_header {
   background: $header-bg;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   height: $header-height;
 }

.webix_header {
  border-bottom: 0;
}

.webix_header > div {
  background: $header-bg !important;
  color: black !important;
}

.menu__item_list > .webix_scroll_cont > .webix_list_item:first-child {
  border-top: 1px solid #ebebeb;
}

.menu_button {
  background: $header-bg;
}

.menu__spacer {
  background: $header-bg;
  height: $header-height - 1px !important;
}

.menu__language_button--get_started {
  margin-left: -15px !important;
}

.menu__language_button {
  background: $header-bg;
  height: $header-height - 1px !important;
  border: 1px solid $header-bg !important;
}

.menu__language_button button,
.menu__language_button button:focus {
  border-color: $header-bg;
  background: $header-bg;
  color: $header-text-color;
  transition-property: color;
  transition-duration: 0.3s;
}

.menu__language_button button:hover,
.menu__language_button button:active {
    border-color: $header-bg;
    background: $header-bg;
    color: $header-text-color;
    transition-property: color;
    transition-duration: 0.3s;
}

.menu__language_button--selected button {
  font-weight: bold;
}

.menu_button .webix_icon {
  color: #a9a9a9;
  transition-property: color;
  transition-duration: 0.3s;
}

.menu_button:hover .webix_icon {
  color: white;
  transition-property: color;
  transition-duration: 0.3s;
}

.profile {
  height: 240px !important;
}

.profile__img_wrap {
  text-align: center;
}

.profile__img {
  width: 200px;
  height: 200px;
  margin-top: -5px;
  margin-left: -5px;
}

.profile__name {
  text-align: center;
  font-weight: bold;
  margin-top: 11px;
}

.login_panel__providers {
  background-color: black;
  background-image: url("/images/background.jpg");
}

.login_panel__facebook_button button,
.login_panel__facebook_button button:hover,
.login_panel__facebook_button button:active,
.login_panel__facebook_button button:focus {
  padding-left: 10px;
  background: #3b5998;
  border: 1px solid #3b5998 !important;
}

.login_panel__google_button button,
.login_panel__google_button button:hover,
.login_panel__google_button button:active,
.login_panel__google_button button:focus {
  padding-left: 10px;
  background: #dc4e41;
  border: 1px solid #dc4e41 !important;
}

.login_panel__google_button .webix_icon,
.login_panel__facebook_button .webix_icon {
  width: 30px;
}

.entity_form__text_label .webix_inp_label {
  padding-top: 0 !important;
  line-height: 32px;
  color: $labal-color;
}

.entity_form__text_label .webix_inp_textarea {
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 2px 2px 2px 10px;
}

.entity_form__text_label label {
  position: relative !important;
}

label {
  font-weight: normal !important;
}

.entity_form__field_label {
  position: absolute;
  top: 0;
  /*left: 0;*/
  min-width: 107px;
}

.entity_form__field_label:hover {
  /*left: auto;*/
  right: 10px;
  transition: all 2s;
}

.entity_form__field_label_ellipse_right {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0))
}

.entity_form__field_label_ellipse {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1))
}

.entity_form__text_label .webix_el_box {
  padding-left: 0 !important;
}

.entity_form__text_label input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

$entity-form-field-delete-button-width: 25px;
.entity_form__field_delete {
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateX(10px);
  width: $entity-form-field-delete-button-width !important;
  .webix_el_box {
    width: $entity-form-field-delete-button-width !important;
  }
  .webix_icon_btn {
    margin-left: 2px;
    font-size: 20px;
  }
  button {
    width: $entity-form-field-delete-button-width !important;
  }
}

$entity-form-field-indexed-button-width: 20px;

.entity_form__field_indexed_button {
  position: absolute;
  left: 140px;
  width: $entity-form-field-indexed-button-width !important;
  .webix_el_box {
    width: $entity-form-field-indexed-button-width !important;
  }
  .webix_icon {
    margin-left: 2px;
    color: #b5b5b5;
    font-size: 13px;
  }
  button {
    &, &:hover, &:focus, &:active {
      width: $entity-form-field-indexed-button-width !important;
      background: $input-bg;
      border: 1px solid $input-border-color;
      border-right: 0;
    }
  }
}

.entity_form__field--text {
  input, textarea {
    transform: translateX($entity-form-field-indexed-button-width);
    padding-left: 1px !important;
    border-left: 0 !important;
    &:focus {
      border-left: 0;
    }
  }
  overflow: initial;
  .entity_form__text_label {
    overflow: initial;
  }
  .webix_el_box {
    overflow: initial;
  }
  &:hover {
    .entity_form__field_delete {
      opacity: 1;
    }
  }
}

.entity_form__field--without-overflow {
  overflow: initial;
}

$entity-form-field-type-button-width: 29px;
.entity_form__field_type_button {
  transform: translateX(15px);
  width: $entity-form-field-type-button-width !important;
  .webix_el_box {
    width: $entity-form-field-type-button-width !important;
  }
  button {
    width: $entity-form-field-type-button-width !important;
  }
}

.entity_form__field_type_button .webix_icon {
  margin-left: 5px !important;
}

.entity_form__field_type_popup {
  transform: translateX(-30px);
}

.entity_form__field_type_button button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  &:hover,&:focus, &:active {
    background: $brand-bg;
  }
}

.entity_form__field_type_button .webix_el_box {
  padding-left: 0 !important;
}

.entity_tree__show_more_item {
  cursor: pointer;
  background: #ffff9a;
}

.entity_tree__show_more_item .webix_tree_folder_open {
  visibility: hidden !important;
}

.entity_tree__show_more_item .webix_tree_file {
  visibility: hidden;
}

.entity_list__show_more_item {
  text-align: center;
  background: $show-more-bg;
}

.entity_list__item {

}

.entity_list__item_icon {
  float: left;
  width: 25px;
  font-size: 17px;
  padding-top: 5px;
  color: $brand-bg !important;
}

.webix_selected .entity_list__item_icon {
  color: white !important;
}

.entity_list__item_name {
  float: left;
}

.entity_list__show_more_item .entity_list__item_name {
  float: none;
}

.entity_list__item_count_prefix {
  float: right;
  width: 20px;
  font-size: 17px;
  padding-top: 5px;
}

.entity_list__item_count {
  float: right;
}

.entity_form__text_label textarea {
  overflow: hidden;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


.webix_win_head_spinner {
  float: right;
  margin-top: 5px;
  margin-left: -45px;
  width: 45px;
  color: $brand-bg;
}

.entity_view > .webix_template {
  padding: 0;
}

.webix_window {
  /*box-shadow: none !important;*/
}

.webix_el_button--active {
  button, button:hover, button:active {
    background: $selected-bg !important;
    color: white !important;
    .webix_icon_btn {
      color: white !important;
    }
  }
}

input {
  box-shadow: none !important;
}

.webix_window, .webix_alert {
  border-width: 0 !important;
  box-shadow: none !important;
}

.webix_popup {
  border-width: 1px !important;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1) !important;
}

.webix_button input, .webix_popup_button div {
  border-bottom-color: $button-border-bottom;
}

.webix_popup .webix_list_item:last-child {
  border-bottom: 0 !important;
}

.webix_popup_title {
  font-size: $webix-font-size-lg !important;
  border-bottom: 1px solid red;
}

.entity_form__root_img_template {
  overflow: initial;
  .webix_template {
    padding: 3px 0 !important;
  }
}

.entity_form__root_img {
  width: 32px;
  height: 32px;
  transform: scale(1.5) translate(0, -2px);
}

.entity_form__field_label_avatar {
  position: relative;
}

.entity_form__root_img_upload_template {
  .webix_template {
    padding: 3px 0 !important;
  }
}

.entity_form__root_img_upload_lbl {
  margin: 0;
  display: block;
  height: 32px;
  width: 100%;
  background: $brand-bg;
  color: white;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
  input[type="file"] {
    position: fixed;
    top: -1000px;
  }
}

.entity_tree__root_icon_wrap {
  padding: 0;
}

.entity_tree__root_icon {
  width: 36px;
  height: 36px;
}

.entity_tree__root_wrap {
  margin-left: 62px;
  overflow: hidden;
}

.entity_tree__root {
  padding: 4px !important;
  line-height: 14px;
  margin: 0 !important;
}

.entity_tree__root,
.entity_tree__root_name,
.entity_tree__root_description {
  display: block;
}

.entity_tree__root_name {
  font-size: 14px;
  font-weight: bold;
  color: rgba(24, 81, 130, 0.63);
  // font-size: 14px;
}

.entity_tree__root_name--without-description {
  padding-top: 7px;
  padding-bottom: 7px;
}

.webix_selected .entity_tree__root_name {
  color: white;
}

.entity_tree__root_description {
  opacity: 0.6;
  padding-top: 3px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.webix_tree_branch_1 {
  margin-bottom: 5px;
  & > .webix_tree_item {
    height: 40px;
  }
  & > div > .webix_tree_close {
    padding-top: 5px;
  }
}
