$control-panel-height: 70px;

$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
// $navbar-inverse-bg: rgba(104, 0, 160, 0.8)
$navbar-inverse-bg: rgba(0, 0, 0, 0.8);
$navbar-inverse-border: transparent;
$navbar-inverse-toggle-border-color: transparent;
$navbar-inverse-toggle-hover-bg: transparent;
$navbar-inverse-toggle-icon-bar-bg: transparent;
$navbar-inverse-link-color:                 white;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          white;
$navbar-inverse-link-active-bg:             transparent;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;
body {
  margin: 0;
}

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

@import "feature_sections";
@import "run_script";
@import "../vendor/bootstrap/stylesheets/bootstrap";
@import "bootstrap_overrides";
@import "auth_buttons";
@import "header";

.admin_panel {
  top: -1px;
  bottom: 0;
  right: 0;
  left: -1px;
  position: absolute;
  overflow: hidden;
}
