$control-panel-height: 70px;
$no-items-width: 700px;
$no-items-height: 500px;
$no-items-col-top-spacing: 70px;
$no-items-col-gap: 60px;

body {
  margin: 0;
}

.landing {
  min-height: 3000px;
}

.smoke {
  background: rgba(0, 0, 0, 0.8);
}

.smoke--light {
  background: rgba(256, 256, 256, 0.9);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.width-100 {
  width: 100% !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.absolute--fill {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.nowrap {
  white-space: nowrap;
}

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

@import "bootstrap_vars";

@import "run_script";
@import "../vendor/bootstrap/stylesheets/bootstrap";
@import "vars";
@import "bootstrap_overrides";
@import "auth_buttons";
@import "header";
@import "feature_sections";
@import "sub_footer";
@import "footer";
@import "safari";
@import "page";
@import "spinner";
@import "ace";
@import "syntax";
@import "snippet";
@import "view";
@import "finish_import";

$flag-icon-css-path: '../vendor/flag-icon-css/flags';

@import "../vendor/flag-icon-css/flag-icon";

.mission {
  text-align: center;
  font-size: $font-size-h3;
  padding-top: 95px;
}

.signin_modal {
  .modal-body  {
    padding: 20px 25px 15px 25px !important;
  }
}


.no_items {
  position: absolute;
  margin: 0;
  z-index: 9;
  left: 0;
  right: 0;
  top: 53px;
  bottom: 0;
  display: none;
  background: white;
}

.no_items__notice_list {
  padding-left: 15px;
  li {
    padding-bottom: 7px;
  }
}

.no_items__no_apps {
  text-align: center;
  font-size: 35px;
  margin-top: 40px;
  color: $text-color;
}

.no_items__roots {
  margin-top: 40px;
}

.no_items__root {
  width: calc(25% - 10px);
  float: left;
  margin: 5px;
}

.no_items__no_apps_description {
  color: $text-color;
  font-size: 16px;
  text-align: center;
  margin: 15px auto 0 auto;
  max-width: 700px;
  padding: 0 20px;
}

.no_items__no_apps_create {
  text-align: center;
}

.no_items__content {
}

.no_items__center {
  padding: 30px 0;
}

.no_items__center--right {
  padding: 45px 0;
}

.no_items__btn {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0;
  bottom: 0;
  position: absolute;
  left: $no-items-col-gap / 2;
  width: calc(100% - #{$no-items-col-gap});
}

.no_items__import {
  padding-top: 20px;
  color: gray;
  font-size: 14px;
}

.no_items__desc {
  font-size: 16px;
}

.no_items__refine_img {
  margin-top: 30px;
  width: 100%;
  opacity: 0.5;
}

.no_items__new_root_input {
  font-size: 16px;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid gray;
  padding-left: 0;
  padding-bottom: 15px;
}

.no_items__notice {
  font-size: 14px;
  color: #949494;
  padding-top: 15px;
}

.no_items__notice--alert {
  color: red;
}

.no_items__column {
  margin-top: $no-items-col-top-spacing;
  height: $no-items-height - $no-items-col-top-spacing;
  position: relative;

  padding-left: $no-items-col-gap / 2;
  padding-right: $no-items-col-gap / 2;
}

.no_items__column--right {
  float: right;
  padding-left: 55px;
  padding-right: 20px;
}

.no_items__root:first-child {
  padding-top: 0;
}

.no_items__root:last-child {
  padding-bottom: 0;
}

.no_items__root_img {
  width: 60px;
  float: left;
  margin-top: 5px;
}

.no_items__root_info {
  width: calc(100% - 60px);
  float: left;
  padding-left: 10px;
}

.no_items__root_desc {
  font-size: 14px;
  color: #949494;
}

.no_items--active {
  display: block;
}


.no_items__root_title {
  color: #337ab7;
}

.no_items__root {
  padding: 5px 0;
  display: block;
  &:hover {
    .no_items__root_title {
      text-decoration: underline;
    }
  }
}

.no_items__root_img--small {
  width: 45px;
  height: 45px;
}



@media (max-width: $screen-xs-max) {
  .root_counters {
    top: initial;
    bottom: -3px;
    transform: scale(0.9);
    right: -3px;
  }
  .view__tabs {
    margin-left: -16px;
    margin-right: -15px;

  }

  .view__tab {
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#import_data_modal {
  .modal-dialog {
    width: calc(100% - 40px);
  }
  .modal-body {
    height: calc(100vh - 110px);
    padding: 0;
  }
  .modal-header {
    border-bottom: 0;
    text-align: center;
    font-weight: bold;
  }
}

.import_data_model__refine {
  width: 100%;
  height: 100%;
  border: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
