.section__code_simple {
  height: 565px;
  background: white;
}

.section__code_simple_description {
  margin-top: 70px;
  font-size: 22px;
  margin-bottom: 10px;
}

.section {
  padding: 85px 0 110px 0;
}

.section--ease {
  background: url(/images/background_rocket_flat.jpg);
  background-size: cover;
  background-position: center;
}

.smoke--ease {
  display: block !important;
}

.section__title {
  margin-top: 0;
  text-align: center;
  font-size: 60px;
}

.section__title--speed {
  margin-bottom: 40px;
}

.section__title--reliability {
  margin-bottom: 40px;
}

.additional_features {
  font-size: 25px;
  margin-top: 20px;
}

.additional_features__star {
  float: left;
  svg {
      width: 40px;
  }
}

.additional_features__text {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}

.feature {
  text-align: center;
  display: block;
  &, &:focus, &:link {
    color: black;
  }
  &:hover, &:active {
    color: black;
    text-decoration: none;
    .feature__title {
      text-decoration: underline;
    }
  }
}

.feature__title {
  margin-top: 10px;
  font-size: 30px;
  line-height: 1.05;
}

.feature__description {
  font-size: 20px;
  margin-top: 10px;
}

.feature__icon {
  margin: 0 70px 0 70px;
  svg {
    width: 100%;
    max-width: 250px;
  }
}

.feature__icon--speed {
  svg {
    fill: #294dd2; // 0069ff
  }
}

.feature__icon--ease {
  svg {
    fill: #ff9126;
  }
}

.section--ease {
}

.feature__icon--reliability {
  svg {
    fill: #be55a2;
  }
}

@media (max-width: $screen-sm-max) {
  .section--ease {
    background-attachment: fixed;
  }

  .feature {
    margin-top: 70px;
  }
  .feature_column:first-child .feature {
    margin-top: 10px;
  }
  .additional_features {
    font-size: 20px;
  }
}

@media (min-width: $screen-md-min) {
  .feature__icon--coding {
    margin-top: -30px;
  }
}
