.section__code_simple {
  height: 565px;
  background: white;
}

.section__code_simple_description {
  margin-top: 70px;
  font-size: $font-size-large;
  margin-bottom: 20px;
  text-align: center;
}

.section {
  padding: 85px 0 110px 0;
}

.section--ease {
  background: url(/images/background_rocket_flat.jpg);
  background-size: cover;
  background-position: center;
}

.smoke--ease {
  display: block !important;
}

.section__title {
  margin-top: 0;
  text-align: center;
  font-size: $font-size-h1;
  //word-break: break-all;
  word-wrap: break-word;
}

.section__footer {
  margin-top: 70px;
}

.section__title--speed {
  margin-bottom: 40px;
}

.section__subtitle {
  margin-top: 0;
  text-align: center;
  font-size: $font-size-h3;
  word-wrap: break-word;
}

.section__subtitle--speed {
  margin: -20px auto 40px;
  max-width: 900px;
}

.section__title--reliability {
  margin-bottom: 40px;
}

.additional_features {
  font-size: $font-size-large;
  margin-top: 20px;
  margin-bottom: 30px;
}

.additional_features__star {
  float: left;
  svg {
      width: 40px;
  }
}

.additional_features__text {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}

.feature {
  text-align: center;
  display: block;
}

.feature__details {
  opacity: 0;
  transition: opacity 0.3s;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: -10px;
  right: -40px;
  left: 0;
  bottom: -10px;
  padding: 20px;
  z-index: 100;
  font-size: 24px;
  text-align: left;
  li {
    margin-left: -17px;
  }
}

.section--ease {
  .feature_column:nth-child(2) .feature__details {
    top: 20px;
  }

  .feature--with-details:hover {
    .feature__icon,
    .feature__title,
    .feature__description {
      filter: blur(12px);
    }
  }

  .feature__details {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
}

.feature_column:last-child .feature__details {
  right: 0;
  left: -40px;
  text-align: right;
}

.feature__icon,
.feature__title,
.feature__description {
  transition: filter 0.2s linear;
}

.feature--with-details {
  position: relative;
  &:hover {
    .feature__details {
      opacity: 1;
    }
    .feature__icon,
    .feature__title,
    .feature__description {
      filter: blur(7px);
    }
  }
}

a.feature {
  &, &:focus, &:link {
    color: black;
  }
  &:hover, &:active {
    color: black;
    text-decoration: none;
    .feature__title {
      text-decoration: underline;
    }
  }
}

.feature__title {
  font-size: $font-size-h2;
  line-height: 1.05;
  word-wrap: break-word;
}

.feature__subtitle {
  font-size: $font-size-large;
  margin-top: 0;
}

.feature__description {
  font-size: $font-size-large;
  margin-top: 10px;
}

.feature__icon {
  margin: 0 70px 0 70px;
  svg {
    width: 100%;
    max-width: 250px;
  }
}

.feature__icon--speed {
  svg {
    fill: #294dd2; // 0069ff
  }
}

.feature__icon--ease {
  svg {
    fill: #ff9126;
  }
}

.section--ease {
}

.feature__icon--reliability {
  svg {
    fill: #be55a2;
  }
}
@media (max-width: $screen-xs-max) {
  .feature--with-details:hover {
    .feature__icon,
    .feature__title,
    .feature__description {
      filter: none;
    }
  }

  .feature__details {
    display: none;
  }
}
@media (max-width: $screen-sm-max) {
  .section--ease {
    background-attachment: fixed;
  }

  .feature {
    margin-top: 70px;
  }
  .feature_column:first-child .feature {
    margin-top: 10px;
  }
  .additional_features {
    font-size: 20px;
  }
}

@media (min-width: $screen-md-min) {
  .feature__icon--coding {
    margin-top: -30px;
  }
}

.section--how-it-works {
  position: relative;
}

.sub_footer__button--how-it-works {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}

.how-it-works-wrap {
  display: flex;
  margin-left: 0;
  transition: all 0.3s;

  & > svg {
    margin: auto;
    width: 700px;
    height: 550px;
  }
}

.how-it-works-wrap--stopped {
  margin-left: 280px;
}