.intro__special_offer--modal {
  padding-bottom: 0;
}

.footer {
  background: black;
  color: white;
  padding: 50px 0;
  font-size: 18px;
}

.footer__link {
  &, &:focus {
    display: block;
    color: white;
    opacity: 0.3;
    transition: opacity 0.3s;
    padding: 10px 0;
  }
  &:hover, &:active {
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.footer__socials {
  margin-right: -10px;
  float: right;
}

.footer__link--social {
  padding: 10px 10px;
  float: right;
}

@media (max-width: $screen-sm-max) {
  .footer__link--section {
    text-align: center;
  }
  .footer__link--social {
    float: left;
  }
  .footer__socials {
    margin-right: 50%;
    transform: translateX(50%);
  }

  .footer {
    padding: 20px 0
  }

}
