

.header {
  background: url('/images/background.jpg');
  background-size: cover;
  background-color: black;
  color: white;
}

.header__logo_img {
  width: 50px;
  float: left;
}

.header__logo_text {
  float: left;
  margin-top: 19px;
  margin-left: 15px;
}

.intro__slogan {
  font-size: 80px;
  line-height: 1.01;
}

.intro__description {
  margin-top: 20px;
  font-size: 35px;
  line-height: 1.01;
}

.intro__prompt {
  font-size: 25px;
  line-height: 1.01;
}

.intro__special_offer {
  font-size: 25px;
  line-height: 1.1;
}

.header__smoke {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}
