@import "./vars";

$header-logo-size: $header-height;
$header-toggle-btn-width: $header-height;

#profile_button_menu_item {
  display: none;
}

.profile_button__dropdown {
  a {
    opacity: 1 !important;
  }
  padding: 4px 0 !important;
  border: 0 !important;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3) !important;
  border-radius: 2px;
  margin-top: -42px;
  margin-right: -7px;
  .divider {
    margin: 4px 0 !important;
  }
}


.profile_button__dropdown_profile_link {
  display: block !important;
  padding-right: 7px !important;
  background: white !important;
}


.profile_button__dropdown_profile {
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: center right;
  height: 35px;
}

.profile_button__dropdown_name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile_button__dropdown_name--no-login {
  line-height: 36px;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 40px);
}

.profile_button__dropdown_login {
  font-weight: bold;
  font-size: 12px;
  color: #b3b3b3;
}


.profile_button__dropdown_item {
  padding-left: 5px;
}

.profile_button {
  display: block;
  border: none;
  background: none;
  padding: 0;
  margin-top: 8px;
  border-radius: 4px;
  margin-left: 25px;
  border-radius: 4px;
  background-size: cover;
  width: 35px;
  height: 35px;
  opacity: 0.5;
  transition: opacity 0.3s;
  &:hover, &:active {
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.login_button {
  font-size: 14px;
  border-radius: 0;
  margin-top: 8px;
  width: 80px;
  opacity: 0.5;
  transition: opacity 0.3s;
  &:hover, &:active {
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.header {
  color: white;
}

.header__languages {
  padding: 0;
  margin-left: 10px;
}

.header__language {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__language_button {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
  line-height: 20px;
  color: white;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: white;
  }
}

.header__language_button--active {
  font-weight: bold !important;
}

.header__logo_img {
  width: $header-logo-size;
  float: left;
}

.header__logo_text {
  float: left;
  margin-top: 9px;
  // margin-left: 15px;
}

.header__search_wrap {
  width: calc(100% - 750px);
  margin-left: $header-logo-size;
  .form-group {
    width: 100%;
  }
  .popover {
    width: 600px;
  }
}


.header__search_input {
  border: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  color: transparent;
  padding-left: 20px !important;
  padding-right: 20px !important;
  width: 100% !important;
  text-align: center;
  transition: background-color 200ms;
  background-image: url('/images/icons/search.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  opacity: 0.5;

  &::-webkit-input-placeholder {
    color: transparent;
  }

  &:-ms-input-placeholder {
    color: transparent;
  }

  &::-moz-placeholder {
    color: transparent;
  }
}

.header__search_input--focus, .header__search_input:focus {
  background: white;
  color: black;
  text-align: left;
  opacity: 1;
  // padding-left: 40px !important;
  background-size: 25px 25px;
  background-position: 10px center;
  // background-image: url('/images/icons/search-black.svg');

  &::-webkit-input-placeholder {
    color: gray;
  }
  &:-ms-input-placeholder {
    color: gray;
  }

  &::-moz-placeholder {
    color: gray;
    opacity: 1;
  }
}


$slogan-animation-offset: 350px;

@keyframes slogan1Animation {
  0% {
    //transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  10% {
    //transform: translate3d(0, -$slogan-animation-offset, 0) scale(0.8);
    opacity: 0;
  }
  11% {
    //transform: translate3d(0, $slogan-animation-offset, 0) scale(0.8);
    opacity: 0;
  }
  50% {
    //transform: translate3d(0, $slogan-animation-offset, 0) scale(1.2);
    opacity: 0;
  }
  60% {
    //transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes slogan2Animation {
  0% {
    //transform: translate3d(0, $slogan-animation-offset, 0) scale(1.2);
    opacity: 0;
  }
  10% {
    //transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  50% {
    //transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  60% {
    //transform: translate3d(0, -$slogan-animation-offset, 0) scale(0.8);
    opacity: 0;
  }
}

$slogan-animation-offset-mobile: 400px;

@keyframes slogan1Animation--mobile {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  10% {
    transform: translate3d($slogan-animation-offset-mobile, 0, 0) scale(0.8);
    opacity: 0;
  }
  11% {
    transform: translate3d(-$slogan-animation-offset-mobile, 0, 0) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translate3d(-$slogan-animation-offset-mobile, 0, 0) scale(0.8);
    opacity: 0;
  }
  60% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes slogan2Animation--mobile {
  0% {
    transform: translate3d(-$slogan-animation-offset-mobile, 0, 0) scale(0.8);
    opacity: 0;
  }
  10% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  60% {
    transform: translate3d($slogan-animation-offset-mobile, 0, 0) scale(0.8);
    opacity: 0;
  }
}


.intro__slogans {
  min-height: 220px;
}

.intro__slogan_wrap {
  animation-delay: 3s;
  animation-duration: 15s;
  //animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 50%;
}

.intro__slogan_offset {
  transform: translateY(-50%);
}

.intro__slogan_wrap--1 {
  animation-name: slogan1Animation;
}

.intro__slogan_wrap--2 {
  opacity: 0;
  animation-name: slogan2Animation;
}

@media (max-width: $screen-sm-max) {
  .intro__slogan_wrap--1 {
    animation-name: slogan1Animation--mobile;
  }
  .intro__slogan_wrap--2 {
    animation-name: slogan2Animation--mobile;
  }
}


.intro__slogan {
  font-size: 80px;
  line-height: 1.01;
  margin-top: 0;
}

.intro__description {
  margin-top: 20px;
  font-size: $font-size-h3;
  line-height: 1.2;
}

.intro__prompt {
  font-size: $font-size-large;
  line-height: 1.01;
}

.intro__special_offer {
  font-size: $font-size-large;
  line-height: 1.3;
  padding-bottom: 20px;
}

.landing--ru .intro__special_offer {
  font-size: $font-size-large * 0.8;
}

.page_top {
  background: url('/images/background.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  //overflow: hidden;
}

@media (max-width: $screen-md-max) {
  .intro__slogan {
    font-size: 67px;
  }
}

@media (max-width: $screen-sm-max) {
  .intro__slogan {
    font-size: 70px;
  }
  .page_top {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: bottom;
  }
}

@media (max-width: $screen-xs-max) {
  .intro__slogan {
    font-size: 40px;
  }
  .intro__description {
    font-size: 20px;
  }
  .paege_top {
    background-image: url('/images/background.jpg');
    background-size: 1200px 1200px;
    background-position: right top;
  }
  .login_button {
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: $font-size-base
  }

  .header__logo_text {
    margin-left: 0;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .intro__slogans {
    min-height: 300px;
  }
}

@media (min-width: $screen-md-min) {
  .login_button {
    margin-left: 25px;
  }
  .page_top {
    background-image: url('/images/background_short.jpg');
    background-size: cover;
    background-position: top;
  }

  .header {
    height: 550px;
  }

  .intro {
    margin-top: 120px;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .header__search_input {
    width: 220px !important;
  }
}

.body_fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.search {
  height: 100px;
  background: #f0f3f5;
  display: none;
}

.favorite_snippets {
  padding-top: 70px;
  padding-bottom: 100px;
  background: #f0f3f5;
}

.favorite_snippets__list {
  height: 250px;
}

.section__title--top-roots {
  margin-bottom: 50px;
}

.smoke--fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(240, 243, 245, 0.7);
  overflow: auto;
  z-index: 10000;
}

.smoke--fullscreen--opaque {
  background: rgb(240, 243, 245);
}

.navbar--fixed {
  transform: translate3d(0, 0, 0);
  position: fixed;
  background: black;
  z-index: 10;
  width: calc(100% - 17px);
}

.search__content {
  margin-top: 80px;
}


$search-filter-panel-width: 250px;
$search-filter-panel-gap: 40px;
.search__filter_panel {
  width: $search-filter-panel-width - $search-filter-panel-gap;
  position: fixed;
  transform: translate3d(0, 0, 0);
  margin-left: $search-filter-panel-gap;

}

.search__results {
  float: left;
  width: calc(100% - #{$search-filter-panel-width});
  // margin-left: $search-filter-panel-width;
}

.search__filter_panel_wrap {
  float: right;
  width: $search-filter-panel-width;
}

@media (max-width: $screen-sm-max) {
  .header__logo_text {
    display: none !important;
  }
  .header__search_wrap {
    width: calc(100% - 350px);
  }
}

@media (max-width: $screen-xs-max) {
  .header__search_wrap {
    margin-left: $header-logo-size + 10px;
    width: calc(100% - #{$header-logo-size + $header-toggle-btn-width + 40px});
    position: absolute;
    top: 0;
  }

  .navbar-form {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    .form-group {
      margin-bottom: 0;
    }
    box-shadow: none;
    border: 0;
  }


  .navbar--fixed {
    width: 100%;
  }

  .search__filter_panel {
    position: absolute;
  }
}

@media (max-width: $screen-xs-min) {
  .search__results {
    float: none;
    width: initial;
  }

  .search__filter_panel_wrap {
    display: none;
  }
}

.search__header {
  padding-bottom: 10px;
}

.search__display_modes {
  float: right;
}

.search__found_count {
  line-height: $input-height-base;
  float: left;
}
