$root-page-tag-height: 27px;
$snippet-tag-height: 23px;


//$no-license-width: 193px;
//$no-license-height: 60px;



$cc-icon-width: 120px;
$cc-icon-height: 42px;


$ogl-icon-width: 24px;
$ogl-icon-height: 10px;


$standard-terms-of-use-width: 42px;
$standard-terms-of-use-height: 12px;


$custom-license-width: 35px;
$custom-license-height: 12px;

.view__tag--license {
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
    background-image: none !important;
    &:after {
      opacity: 1;
    }
  }
  position: relative;
  &:after {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    border-radius: 2px;
  }
}

.view__tag--license-none {
  background-color: #f36767 !important;
  color: white !important;
  &:hover {
    background-color: #a94442 !important;
  }
}

//.view__tag--license--none {
//  width: floor(($snippet-tag-height / $no-license-height) * $no-license-width);
//  background-image: url("/images/licenses/none.png");
//  &:after {
//    background-image: url("/images/licenses/none-hover.png");
//  }
//}


.view__tag--license--standard-terms-of-use {
  width: floor(($snippet-tag-height / $standard-terms-of-use-height) * $standard-terms-of-use-width);
  background-image: url("/images/licenses/standard-terms-of-use.svg");
  &:after {
    background-image: url("/images/licenses/standard-terms-of-use.svg");
  }
}

.view__tag--license--standard-terms-of-use--ru {
  background-image: url("/images/licenses/standard-terms-of-use-ru.svg");
  &:after {
    background-image: url("/images/licenses/standard-terms-of-use-ru.svg");
  }
}

.view__tag--license--ogl {
  width: floor(($snippet-tag-height / $ogl-icon-height) * $ogl-icon-width);
  background-image: url("/images/licenses/ogl.svg");
  &:after {
    background-image: url("/images/licenses/ogl-hover.svg");
  }
}

.view__tag--license--custom {
  width: floor(($snippet-tag-height / $custom-license-height) * $custom-license-width);
  background-image: url("/images/licenses/custom.svg");
  &:after {
    background-image: url("/images/licenses/custom.svg");
  }
}

.view__tag--license--custom {
  background-image: url("/images/licenses/custom-ru.svg");
  &:after {
    background-image: url("/images/licenses/custom-ru.svg");
  }
}

.view__tag--license--cc-by {
  width: floor(($snippet-tag-height / $cc-icon-height) * $cc-icon-width);
  background-image: url("/images/licenses/cc-by.svg");
  &:after {
    background-image: url("/images/licenses/cc-by-hover.svg");
  }
}


.root_page {
  //.view__tag--license--none {
  //  width: floor(($root-page-tag-height / $no-license-height) * $no-license-width);
  //}

  .view__tag--license--standard-terms-of-use {
    width: floor(($root-page-tag-height / $standard-terms-of-use-height) * $standard-terms-of-use-width);
  }

  .view__tag--license--cc-by {
    width: floor(($root-page-tag-height / $cc-icon-height) * $cc-icon-width);
  }

  .view__tag--license--ogl {
    width: floor(($root-page-tag-height / $ogl-icon-height) * $ogl-icon-width);
  }

  .view__tag--license--custom {
    width: floor(($root-page-tag-height / $custom-license-height) * $custom-license-width);
  }
}

.drop {
  z-index: $fullscreen-zindex + 1;
}

.license-drop {
  color: black;
  max-width: 400px;
  font-size: 16px;
}

.license-drop__text {
  line-height: 22px;
  max-height: 300px;
  overflow: hidden;
}

.license-drop__title {
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #ebebeb;
}

.license-drop__footer {
  text-align: right;
  margin: 10px 0 10px 0;
}

.license-drop__link {
  //margin-left: 5px;
}

.drop-content {
  padding: 10px 20px !important;
}