@media (min-width: $screen-md-min) {
  .default_main {
    min-height: calc(100% - 288px);
  }
}

.page__section:not(:first-child) {
  margin-top: 70px;
}

.feature__icon--example {
  fill: #ff9126;
  margin: 0 100px;
}

.page__content {
  margin-top: 70px;
  margin-bottom: 50px;
}

.page__overview {
  margin-bottom: 60px;
}

.page__title {
  margin-top: 50px;
  text-align: center;
}

.page__description {
  text-align: center;
  font-size: $font-size-h3;
}

.links {
  margin-left: -15px;
  padding-bottom: 15px;
}

.links__link {
  font-size: $font-size-base;
  float: left;
  display: block;
  padding: 10px 15px;
}

.links__link_text {
  margin-left: 5px;
  //font-weight: bold;
}

.root_page {
  padding-bottom: 30px;

  .view__description {
    font-size: 18px !important;
    padding-left: 0;
    padding-right: 0;
  }

  .view__readme {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
  }
}