.example {
  background: white;
}

.example--1 {
  height: 448px;

}





.demos {
  padding: 40px 0;
}

.demo__screenshot {
  width: 100%;
}

.demo__logo {
  width: 100px;
  margin-right: 15px;
}

.demo__source {
  margin-bottom: 15px;
}

.demo__info {
  margin-top: 10px;
  padding-bottom: 30px;
}

.demo__description {
  margin-bottom: 10px;
}
