.feature__icon--example {
  fill: #ff9126;
  margin: 0 100px;
}

.page__content {
  margin-top: 70px;
  margin-bottom: 50px;
}

.page__title {
  margin-top: 50px;
  text-align: center;
}

.page__descripiton {
  text-align: center;
  font-size: $font-size-h3;
}

.demo__screenshot {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.demo__logo {
  width: 100px;
  margin-right: 15px;
}

.demo__source_url {
  margin-left: 20px;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: $font-size-base;
  padding: 10px 15px;
  &, &:focus, &:link {
    color: gray;
  }
  &:hover, &:active {
    color: gray;
  }
}

.demo__info {
  margin-top: 10px;
  padding-bottom: 30px;
}

.demo__description {
  font-size: $font-size-large;
  margin-top: 25px;
  margin-bottom: 32px;
}
