@import "./vars";

$side-width: 300px;
$side-panel-width: $side-width - $padding;

.look_preview__overview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.webix_ss_filter {
  position: relative;
  &:after {
    content: "\f0b0";
    width: 25px;
    height: 40px;
    position: absolute;
    right: 0;
    font-family: "FontAwesome";
    color: black;
    font-size: 14px;
    padding-top: 2px;
    opacity: 0.2;
    transition: opacity 200ms;
  }
  &:hover {
    &:after {
      opacity: 0.6;
    }
  }
}

.webix_ss_header tr:nth-child(2) td {
  .webix_hcell {
    cursor: pointer;
    width: calc(100% - 10px);
    margin-left: 5px;
    padding: 0 5px !important;
  }
  &:hover {
    background: #deecf5;
  }
}

.view__comment__date--preview-table {
  color: white !important;
}


.look_preview--table {
  background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  color: white;
}

.look_preview__overview--codepen {
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.snippet:hover .look_preview__overview {
  background: transparent;
}

.root__about__look {
}

.root__about__look_iframe {
  border: 0;
  width: 100%;
  height: 600px;
}

.root__about__look_webix {
  border-top: 1px solid #b0cee3 !important;
}

.root__about__look_search {
  background: #d2e3ef !important;
  border-bottom: 1px solid #b0cee3 !important;
  input {
    border-color: #b0cee3 !important;
    border-radius: 6px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

.root__about__look_pager {
  background: #d2e3ef !important;
  padding: 7px !important;
  text-align: right;
  button {
    border-radius: 20px !important;
    border: 0 !important;
  }
}


.root__about__look_pager_counter {
  float: left;
  padding-top: 3px;
  color: #4a4a4a;
}


.root__looks__table_header {
  input {
    border-color: #b0cee3;
    border-radius: 6px !important;
    padding-left: 12px;
    padding-right: 12px;
  }
}


.webix_dtable .webix_ss_filter input {
  border-color: #b0cee3;
  border-radius: 6px !important;
  padding-left: 12px;
  padding-right: 12px;
}


.look_modal__table_btn {
  font-size: $font-size-small;
  margin-top: -10px;
}

.look_modal__table_webix {
  .webix_view {
    border: 1px solid $input-border !important;
  }
}

.change_root_version_modal_table__number {
  width: 50px;
}

.change_root_version_modal_table__created_at {
  width: 250px;
}

.change_root_version_modal__body {
  height: 400px;
  overflow: auto;
}

.change_root_version_modal__table {
  margin-bottom: 0;

  td {
    padding: 0 !important;

    a {
      display: block;
      padding: 10px;
      color: black;
      text-decoration: none !important;
    }
  }
  tr {
    &:hover {
      td {
        background: $selected-bg;
        a {
          color: white;
        }
      }
    }
  }
}

.root_page {
  .view__version {
    color: $selected-bg;
    opacity: 0;
    cursor: pointer;
    transition: opacity 200ms;
  }

  .view__version--right-pos {
    position: absolute;
    right: 0;
  }

  .view__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    &:hover {
      .view__version {
        opacity: 1;
      }
    }
  }

  .view__overview--root {
    background: $block-bg;
    border: 0;
    box-shadow: $block-box-shadow;
    padding-bottom: 0;
  }

  .view__tabs {
    padding-top: 5px;
    width: 600px;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }

  .view__tab, .view__tab--active {
    transform: translate(0, 0);
    border: 0;
    border-bottom: 3px solid transparent;
  }

  .view__tab--active {
    background: transparent;
    border-bottom-color: #ff007f !important;
  }

  .view__tags {
    margin: 0 0 12px 0;
  }

  .view__tag {
    margin: 0 5px 8px 0;
    font-size: 15px;
  }

  .view__overview_image_wrap, .view__info {
    display: block !important;
    float: left !important;
  }

  .view__info {
    width: calc(100% - #{$root-icon-size-lg + 50px});
  }


  @media (max-width: $screen-xs-min) {
    .view__tabs {
      margin-left: -90px ;
    }
  }
}

.view__page {
  padding: $padding;
  margin-top: $padding;
}


.view__about {
  margin-top: $padding;
  width: calc(100% - #{$side-width});
  float: left;
}

.block--about {
  padding: 0 20px;
}

.view__side_panel_wrap {
  width: $side-width;
  float: right;
  margin-top: $padding;
}

.view__side_panel {
  margin-left: $padding;
  width: $side-panel-width;
  position: absolute;
}


@media (max-width: $screen-sm-max) {
  .view__about {
    width: initial;
    float: none;
  }

  .view__side_panel_wrap {
    display: none;
  }
}

.view__tab--right {
  margin: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  position: absolute !important;
  right: 15px !important;
}

$user-cover-height: 100px;
$user-avatar-size: 98px;
$follow-button-height: 40px;


.user_snippet {
  min-height: 165px;
}

.user_snippet__cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-top-right-radius: $default-border-radius;
  border-top-left-radius: $default-border-radius;
  height: $user-cover-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #85b4d4;
}

.user_snippet__avatar {
  position: absolute;
  left: $small-padding;
  top: $user-cover-height - $user-avatar-size / 2;
  width: $user-avatar-size;
  height: $user-avatar-size;
  border-radius: $user-avatar-size / 2;
  border: 3px solid $block-bg;
  background: white;
}

.user_snippet__name {
  max-width: $side-panel-width - $padding * 2.5 - $user-avatar-size;
  margin-left: $user-avatar-size + $small-padding;
  float: left;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  overflow: hidden;
  //text-overflow: ellipsis;
}

.user_snippet__name_wrap {

}

.user_snippet__verified {
  float: right;
  color: $selected-bg;
}

.user_snippet__name--verified {
  max-width: $side-panel-width - $padding * 2.5 - $user-avatar-size - 20px;
}

.user_snippet__username {
  color: gray;
  line-height: 1.2;
  max-width: $side-panel-width - $padding * 2.5 - $user-avatar-size;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: $user-avatar-size + $small-padding;
}

.user_snippet__about {
  padding-top: 10px;
}

.user_snippet__follow {
  padding-top: $user-cover-height;
  text-align: right;
  button {
    display: none;
  }
}



.view__pills {
  li > a {
    border-radius: 0 !important;
  }

  li.active > a {
    font-weight: bold;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.41);
  }

  li + li {
    margin-left: 5px !important;
  }
}

.view__pills--looks {
  margin-bottom: 20px;
}

.view__comments {
  padding-top: 20px;
}

.view__comment__delete {
  position: absolute;
  height: 40px;
  width: 30px;
  top: 5px;
  right: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 200ms;
  &:hover {
    opacity: 1 !important;
  }
}

.view__comment__text {
  word-wrap: break-word;
}

.view__comments__list {
  margin: -10px 0;
}

.view__comment {
  padding: 10px 0;
  position: relative;

  &:hover {
    .view__comment__delete {
      opacity: 0.7;
    }
  }
}

.new_comment {
  padding-top: 25px;
}

.new_comment__button {
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  border-radius: 0;
  width: 100%;
}

.new_comment__textarea_wrap {
  margin-bottom: 0 !important;
}

.new_comment__textarea {
  padding: 12px 20px !important;
  overflow: hidden !important;
  margin-bottom: 0 !important;
  resize: none;
  border-radius: 0;
  border: 1px solid lightgray;
  box-shadow: none !important;
  background: #f0f3f5;
}

.new_comment__textarea--extended {
  height: auto;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  background: white;
}

.new_comment__textarea--error {
  border-color: $brand-danger !important;
  transition: border-color 300ms;
}

.codepen {
  height: 100%;
  margin: 0 !important;
}


.view__new_look {
  padding: 3px 25px;
  font-size: 16px;
  //font-weight: bold;
  border-radius: 0;
  position: absolute;
  right: 0;
}

.look__footer {
  pqosition: relative;
}

.look__content {
  height: 566px;
}

.look__title {
  line-height: $header-height;
  overflow: hidden;
  font-size: 25px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
}

.look__title_text {
  padding-left: 10px;
}

.look {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1;
}

.look_modal__header {
  border-bottom-color: lightgray;
}

.look_modal__footer {
  border-top-color: lightgray;
  padding: 15px 25px;
}

.look_modal__locker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  border-radius: $border-radius-large;
  text-align: center;
  i {
    margin-top: 50%;
    transform: translateY(-50%);
    color: $brand-primary;
  }
}

.look_modal__body {
  background: #f0f3f5;
  padding: 15px 25px;
  textarea {
    resize: none;
  }
}

.look__actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.look__action {
  color: white;
  float: right;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 300ms;
  &:hover {
    opacity: 0.8 !important;
  }
}

$look-search-border-radius: $input-height-base;
$look-search-width: 360px;
$look-search-shadow-width: 100px;

.look__search {
  width: $look-search-width;
  position: absolute;
  left: calc(50% - #{$search-filter-panel-width/2 + $look-search-width/2});
  top: ($header-height - $input-height-base) / 2;
  visibility: hidden;
}

.look__search_shadow {
  width: $look-search-shadow-width;
  position: absolute;
  top: 0;
  height: 50px;
  visibility: hidden;
}

.look__header {
  position: relative;
  background: black;
  height: $header-height;
  overflow: hidden;
}

.look__header--search {
  .look__search {
    visibility: visible;
  }

  .look__search_shadow {
    visibility: visible;
  }
}

.search__results__waiting {
  display: none;
  position: fixed;
  top: $header-height;
  height: calc(100% - #{$header-height});
  opacity: 0.5;
  background: $toolbar-bg;

  width: $screen-lg - $side-width;

  @media (max-width: $screen-lg-min) {
    width: $screen-md - $side-width;
  }

  @media (max-width: $screen-md-min) {
    width: $screen-sm - $side-width;
  }

  @media (max-width: $screen-sm-min) {
    left: 0;
    width: calc(100% - #{$side-width - 30px});
  }

  @media (max-width: $screen-xs-min) {
    left: 0;
    width: 100%;
  }
}

.search__results__waiting--no-side-menu {
  width: 100%;
}




.look__search_input {
  border: 0;
  width: $look-search-width;
  border-radius: $look-search-border-radius;
  height: $input-height-base;
  padding-left: 20px;
  padding-right: 20px;
}

.look__search_shadow--left {
  left: calc(50% - #{$search-filter-panel-width/2 + $look-search-width/2 + $look-search-shadow-width - $look-search-border-radius/2});
  background: linear-gradient(to left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
}

.look__search_shadow--right {
  left: calc(50% + #{$search-filter-panel-width - $look-search-width/2 - $look-search-border-radius/2});
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
}


.look{
  &:hover {
    .look__action {
      opacity: 0.4;
    }
  }
}

.block--look {
  padding: 0;
  display: none;
}


.look_previews {
}

.look_preview {
  cursor: pointer;
}

.look_preview--active {
  .look_preview__codepen_wrap {
    position: fixed;
    transform: scale(1);
    width: 100%;
    bottom: 0;
    top: 50px;
    left: 0;
    z-index: 1;
    .cp_embed_wrapper {
      height: 100% !important;
      & > iframe {
        height: 100% !important;
      }
    }
  }
}

.look_preview__title {
  font-weight: bold;
  padding-left: 7px;
  font-size: 18px;
}

.look_preview__header {
}

.look_preview__description {
  font-size: 14px;
  margin-top: 5px;
}

.look_preview__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28px;
}

.snippet:hover {
  .look_preview__codepen_wrap {
    filter: blur(20px);
  }
  .look_preview__codepen_locker {
    opacity: 1;
  }
}

.look_preview--active {
  .look_preview__codepen_wrap {
    filter: none !important;
  }
}

.look_preview__codepen_wrap {
  position: absolute;
  top: calc(-50% - 2px);
  left: calc(-50% - 1px);
  width: calc(200% + 2px);
  transform: scale(0.5);
}

.look_preview__codepen_locker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: $small-padding;
  transition: opacity 0.3s;
  color: white;
  .view__comment__date {
    color: white !important;
  }
}


.view__about__look_title {
  padding: 10px;
  background: black;
  font-weight: bold;
  color: white;
}

.root__about__look {
  margin-top: -1px;
  overflow: hidden;
}

.root__about__look--codepen {
  height: 400px;

  .cp_embed_wrapper {
    margin: -1px;
    height: 400px;
  }
}

.view__about__look_title__content {
  padding-left: 5px;
}

.view__about_look_action {
  cursor: pointer;
  position: absolute;
  width: 45px;
  height: 45px;
  padding: 13px 20px 0;
  top: 0;
  right: 0;
}

.root__about__look--full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  
  #view__about_look_normal {
    display: block !important;
  }
  
  #view__about_look_full {
    display: none;
  }

  .root__about__look {
    height: calc(100% - 45px) !important;
    .cp_embed_wrapper {
      height: 100% !important;
      & > iframe {
        height: 100% !important;
      }
    }
  }
}

.user_snippet__datasource {
  border-top: 1px solid $border-color-light;
  margin-top: $small-padding;
  padding-top: $small-padding;
  cursor: pointer;
}


.search__results__pages {
  margin-bottom: 25px;
  text-align: right;
}

.search__results__page {
  margin-left: 5px;
  padding: 5px 20px;
  border-radius: 100px;
  background: #85b4d4;
  border-bottom: 1px solid #2386c8;
  color: white;
  &:hover {
    background: #268fd5;
    color: white;
    text-decoration: none;
  }
}

.search__results__page--active {
  background: #27ae60;
  border-color: #27ae60;
  border-bottom: 1px solid #209150;
  &:hover {
    background: #219552;
  }
}


.view__tag--license {
  background: no-repeat center;
  background-size: cover;
}

$root-page-tag-height: 27px;

.view__tag--license--cc-by-3 {
  width: floor(($root-page-tag-height / 31) * 88);
  background-image: url("https://licensebuttons.net/l/by/4.0/88x31.png");
}