$side-width: 300px;


.root_page {

  .view__overview--root {
    background: $block-bg;
    border: 0;
    box-shadow: $block-box-shadow;
    padding-bottom: 0;
  }

  .view__tabs {
    padding-top: 5px;
  }

  .view__tab, .view__tab--active {
    transform: translate(0, 0);
    border: 0;
    border-bottom: 3px solid transparent;
  }

  .view__tab--active {
    background: transparent;
    border-bottom-color: #ff007f !important;
  }

  .view__tags {
    margin: 20px 0 0 0;
  }

  .view__tag {
    margin: 0 5px 0 0;
    font-size: 15px;
  }

}


.view__about {
  padding: 0 $padding;
  margin-top: $padding;
  width: calc(100% - #{$side-width});
  float: left;
}

.view__side_panel_wrap {
  width: $side-width;
  float: right;
  margin-top: $padding;
}

.view__side_panel {
  margin-left: $padding;
  width: $side-width - $padding;
  position: absolute;
}

.snippet--auto_height {
  height: auto;
}

.view__tab--right {
  margin: 0;
  padding-right: 0;
  padding-bottom: 0;
  position: absolute;
  right: 15px;
}

$user-cover-height: 100px;
$user-avatar-size: 98px;
$follow-button-height: 40px;


.user_snippet__cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-top-right-radius: $default-border-radius;
  border-top-left-radius: $default-border-radius;
  height: $user-cover-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #85b4d4;
}

.user_snippet__avatar {
  position: absolute;
  left: $small-padding;
  top: $user-cover-height - $user-avatar-size / 2;
  width: $user-avatar-size;
  height: $user-avatar-size;
  border-radius: $user-avatar-size / 2;
  border: 3px solid $block-bg;
}

.user_snippet__name {
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
}

.user_snippet__username {
  color: gray;
  line-height: 1.2;
}

.user_snippet__about {
  padding-top: 10px;
}

.user_snippet__follow {
  padding-top: $user-cover-height;
  text-align: right;
}
