@import "./vars";

$search-datasource-height: 40px;

.datasource {
  height: $search-datasource-height;
  margin-bottom: $padding;
  position: relative;
}

.datasource__img {
  position: absolute;
  left: 0;
  top: 0;
  width: $search-datasource-height;
  height: $search-datasource-height;
}

.datasource__title {
  font-size: 14px;
  font-weight: bold;
  margin-left: $search-datasource-height + $small-padding;
  line-height: $search-datasource-height / 2;
}

.datasource__name {
  margin-left: $search-datasource-height + $small-padding;
  font-size: 14px;
  line-height: $search-datasource-height / 2;
}

.datasource--with-border-top {
  border-top: 1px solid $border-color-light;
  margin-bottom: 0;
  margin-top: $small-padding;
  padding: $small-padding 0;
  .datasource__img {
    top: $small-padding;
  }
}