@import "./vars";

$snippet-image-size: 52px;
$small-padding: 10px;
$snippet-height: 200px;

$filter-item-height: 30px;

.search_filter {
  margin-bottom: 20px;
}

.search_filter__title {
  font-weight: bold;
  padding-bottom: 5px;
}

.search_filter__item {
  display: block;
  color: black !important;
  text-decoration: none !important;
  height: $filter-item-height;
  font-size: 16px;
  padding: 0 5px;
  .flag-icon {
    margin-right: 7px;
    line-height: $filter-item-height;
    float: left;
  }
  .search_filter__item_remove {
    display: none;
  }
}

.search_filter__item:hover, 
.search_filter__item:active, 
.search_filter__item--active {
  color: white !important;
  background: $selected-bg;
  .search_filter__item_count {
    color: white !important;
  }
}

.search_filter__item--active {
  .search_filter__item_count {
    display: none;
  }
  .search_filter__item_remove {
    display: block;
  }
}

.search_filter__item_title {
  line-height: $filter-item-height;
  float: left;
}

.search_filter__item_remove,
.search_filter__item_count {
  line-height: $filter-item-height !important;
  float: right;
}

.search_filter__item_count {
  font-weight: bold;
  color: gray;
}

.snippet {
  overflow: hidden;
  margin-bottom: 30px;
  padding: $small-padding;
  height: $snippet-height;
  display: block;
  text-decoration: none !important;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  &:hover {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  }
}

.snippet__overview {
  position: relative;
  min-height: $snippet-image-size + $small-padding / 2;
  margin-bottom: $small-padding / 2;
}

.snippet__image {
  position: absolute;
  top: 0;
  left: 0;
  width: $snippet-image-size;
  height: $snippet-image-size;
}

.snippet__info {
  padding-left: $snippet-image-size + $small-padding;
}

.snippet__info--small {
  padding-top: 15px;
}

.snippet__title {
  font-size: 22px;
  font-weight: bold;
  color: black;
  line-height: 1.1;
}

.snippet__tags {
  margin-top: $small-padding / 2;
  font-size: 13px;
  color: gray;
}

.snippet__description {
  font-size: 14px;
  color: #424242;
}

$snippet-footer-height: 30px;

.snippet__footer {
  position: absolute;
  bottom: 0;
  left: $small-padding;
  right: $small-padding;
  background: white;
  padding-bottom: $small-padding / 2;
  height: $snippet-footer-height;
}

.snippet__author {
  line-height: $snippet-footer-height - $small-padding / 2;
}

.snippet__author_name {
  font-size: 14px;
  color: black;
}

.snippet__author_avatar {
  height: $snippet-footer-height - $small-padding / 2;
  width: $snippet-footer-height - $small-padding / 2;
  transform: translateY(-2px);
  border: 0;
  border-radius: 100px;
}

.snippet__date {
  line-height: $snippet-footer-height - $small-padding / 2;
}

.snippet__counters {
  position: absolute;
  right: 0;
  bottom: $small-padding / 2;
  line-height: $snippet-footer-height - $small-padding / 2;
  transform: scale(0.9);
  color: #b9b9b9;
}
