.sub_footer {
  text-align: center;
  background: white; // #0069ff;
  color: black;
  padding-bottom: 80px;
  font-size: 25px;
}

.sub_footer__prompt {
  margin-bottom: 22px;
}

.sub_footer__botton {
  color: black;
  background: #ffd400;
  border-color: #ffd400;
  padding: 10px 30px;
  font-size: 20px;
  &:hover, &:active {
    color: black;
    background: #ffd400;
    border-color: #ffd400;
  }
}
