.sub_footer {
  text-align: center;
  background: white;
  color: black;
  padding-bottom: 80px;
  font-size: 25px;
}

.sub_footer__prompt {
  margin-bottom: 22px;
}

.sub_footer__botton {
  &, :focus {
    color: black;
    background: #ffd400;
    border-color: #ffd400;
    padding: 12px 45px;
    font-size: 25px;
  }
  &:hover, &:active {
    color: black;
    background: #ffd400;
    border-color: #ffd400;
  }
}
