/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

$view-field-value-max-height: 170px;

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.view {
  font-family: Ubuntu;
  position: relative;
  padding-bottom: 20px;
}

.view__loading {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: rbga(0, 0, 0, 0.5);
  z-index: 100000;
}

.view__overview {
  display: table;
  padding: 10px;
  background: $toolbar-bg;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid lightgray;
}

.view__overview_image_wrap, .view__info {
  display: table-cell;
  vertical-align: top;
}

.view__overview_image_wrap {
  width: 35px;
}

.view__overview_image_wrap--large {
  width: 75px;
}

.view__overview_image {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}

.view__overview_icon {
  border-radius: 10px;
  color: $brand-bg;
  font-size: 35px !important;
}

.view__info {
  padding-left: 15px;
}

.view__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.view__stats {
  margin-bottom: 5px;
  font-weight: bold;
  display: none;
}

.view__stat {
  float: left;
  margin-right: 20px;
}

.view__stat:last-child {
  float: left;
  margin-right: 0;
}

.view__tags {
  color: gray;
  font-size: 14px;
}

.view__websiteURL {
  display: block;
}

.view__description {
  padding: 20px 10px;
  font-size: 16px;
  border-top: 1px solid $shadow-color;
}

.view__tabs {
  margin-bottom: 18px;
}

.view__tab {
  // border-top: 2px solid black;
  // border-radius: 10px;
  // padding: 3px 10px 0 10px;
  font-weight: bold;
  float: left;
}

.view__content {
  padding-left: 10px;
  padding-right: 10px;
}

.view__readme {
  clear: both;
  line-height: 1.4;
  word-wrap: break-word;
}

.view__fields {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.view__log_records {
  font-family: "Courier New";
  font-size: 16px;
  background: black;
  white-space: pre;
}

.view__log_record {
  padding: 5px;
}

.view__log_record--log {
  color: #aaa;
}

.view__log_record--error {
  color: #ce5545;
}

.view__log_record--info {
  color: #3498db;
}

.view__log_record--warn {
  color: orange;
}

.view__log_record--system {
  color: #a9a903;
}

.view__log_record--ok {
  color: #27ae60;
}

.view__log_record--success {
  color: #27ae60;
  text-align: center;
  padding: 7px;
  font-size: 18px;
}

.view__field {
  display: table-row;
  &:hover {
    .view__field_name, .view__field_value {
      background: #f3f3f3;
    }
  }
}

.view__field--active, .view__field--active:hover {
  .view__field_name, .view__field_value {
    background: #27ae60;
    color: white;
  }
}

.view__field_name {
  padding: 10px 0 10px 10px;
  display: table-cell;
  border-top: 1px solid $border-color-light;
  width: 130px;
  color: #a7a7a7;
}

.view__field_name_box {
  word-wrap: break-word;
}

.view__field--log {
    display: none;
}

.view__field_value {
  padding: 10px 10px 10px 15px;
  display: table-cell;
  border-top: 1px solid $border-color-light;
  width: 100%;
}

.view__field_value--multiline {
  position: relative;
  font-size: 11px;
  font-family: "Courier New";
  overflow: hidden;
}

.view__field_value--code {
  font-family: consolas;
  font-size: 12px;
}

.view__field:first-child {
  .view__field_name, .view__field_value {
    border-top: 0;
  }
}

.view__field_value__end {
  top: $view-field-value-max-height - 50px;
  left: 0;
  right: 0;
  height: 70px;
  position: absolute;
  background: linear-gradient(to top, white, transparent);
}

.view__field {
  &:hover {
    .view__field_value__end {
      background: linear-gradient(to top, #f3f3f3, transparent);
    }
  }
}

.view__field--active, .view__field--active:hover {
  .view__field_value__end {
    background: linear-gradient(to top, #27ae60, transparent);
  }
}

.view__field_value_box {
  max-height: $view-field-value-max-height;
  overflow: hidden;
  word-wrap: break-word;
  p {
    margin-bottom: 0;
  }
}

.view__no_fields_exists {
  padding: 10px 0 10px 10px;
  border-top: 1px solid $shadow-color;
  display: table-cell;
  width: 100%;
}

.view__status {
  background: #c5c5c5;
  padding: 4px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.view__status--success {
  background: #27ae60;
}

.view__status--fail {
  background: #ce5545;
}

.view__checks {
  display: table;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 5px;
}

.view__check-wrap {
  display: table-cell;
  padding: 5px 5px;
}

.view__check {
  color: white;
  background: #c5c5c5;
  border-radius: 4px;
  padding: 7px;
  text-align: center;
  font-weight: 600;
}

.view__check--checked {
  background: #27ae60;
}

.view__check--fail.view__check--checked {
  background: #ce5545;
}
