/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.view {
  font-family: Ubuntu;
  position: relative;
  padding-bottom: 20px;
}

.view__loading {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: rbga(0, 0, 0, 0.5);
  z-index: 100000;
}

.view__overview {
  display: table;
  padding: 10px;
  background: rgb(243, 243, 243);
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid lightgray;
}

.view__overview_image_wrap, .view__info {
  display: table-cell;
  vertical-align: top;
}

.view__overview_image_wrap {
  width: 35px;
}

.view__overview_image_wrap--large {
  width: 75px;
}

.view__overview_image {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}

.view__overview_icon {
  border-radius: 10px;
  color: #3498db;
  font-size: 35px !important;
}

.view__info {
  padding-left: 15px;
}

.view__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.view__stats {
  margin-bottom: 5px;
  font-weight: bold;
  display: none;
}

.view__stat {
  float: left;
  margin-right: 20px;
}

.view__stat:last-child {
  float: left;
  margin-right: 0;
}

.view__tags {
  color: gray;
  font-size: 14px;
}

.view__websiteURL {
  display: block;
}

.view__description {
  padding: 20px 10px;
  font-size: 16px;
  border-top: 1px solid #ebebeb;
}

.view__tabs {
  margin-bottom: 18px;
}

.view__tab {
  // border-top: 2px solid black;
  // border-radius: 10px;
  // padding: 3px 10px 0 10px;
  font-weight: bold;
  float: left;
}

.view__content {
  padding-left: 10px;
  padding-right: 10px;
}

.view__readme {
  clear: both;
  line-height: 1.4;
  word-wrap: break-word;
}

.view__fields {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.view__field {
  display: table-row;
}

.view__field_name {
  padding: 10px 0 10px 10px;
  display: table-cell;
  border-top: 1px solid #ebebeb;
  width: 130px;
  color: #a7a7a7;
}

.view__field_name_box {
  word-wrap: break-word;
}

.view__field_value {
  padding: 10px 10px 10px 15px;
  display: table-cell;
  border-top: 1px solid #ebebeb;
  width: 100%;
}

.view__field_value_box {
  word-wrap: break-word;
}

.view__no_fields_exists {
  padding: 10px 0 10px 10px;
  border-top: 1px solid #ebebeb;
  display: table-cell;
  width: 100%;
}
