<!DOCTYPE html>
<html style="height: 100%">

  {% include head.html %}

  <body style="height: 100%">
    {% include waiting_cloak.html %}

    <div class="page_top">
      <div class="smoke">
        {% include nav.html %}
      </div>
    </div>

    {% include mydataspace_init_script.html %}
    
    <script>
      Mydataspace.connect();
      Mydataspace.on('login', function() {
        document.getElementById('login_button_menu_item').style.display = 'none';
        document.getElementById('profile_button_menu_item').style.display = 'block';
        Mydataspace.emit('users.getMyProfile', {});
      });
      Mydataspace.on('logout', function() {
        document.getElementById('login_button_menu_item').style.display = 'block';
        document.getElementById('profile_button_menu_item').style.display = 'none';
      });
    </script>
    
    <main class="default_main {{ page.main_class }}">
      {{ content }}
    </main>

    {% include footer.html %}

    {% include signin_modal.html %}



  </body>
</html>
