<!DOCTYPE html>
<html>

  {% include head.html webix=true %}

  <body>
    <div id="bootstrap" class="landing landing--{{ page.language }}">
      <script type="text/javascript">
        if (isValidJWT(localStorage.getItem('authToken')) ||
            window.location.hash && window.location.hash !== '' && window.location.hash !== '#') {
          document.getElementById('bootstrap').style.display = 'none';
        }
      </script>

      <div class="page_top">
        <div class="smoke">
          {% include nav.html %}
          {% include header.html %}
        </div>
      </div>

      {% include favorite_snippets.html %}

      <div class="mission">
          <div class="container">{{ site.data[page.language].mission }}</div>
      </div>

      {% include feature_sections.html %}
      {% include sub_footer.html %}
      {% include footer.html %}
    </div>

    {% include signin_modal.html %}

    <div id="webix">
      <script type="text/javascript">
        if (!isValidJWT(localStorage.getItem('authToken')) &&
            !(window.location.hash && window.location.hash !== '' && window.location.hash !== '#')) {
          document.getElementById('webix').style.display = 'none';
        }
      </script>


      <div class="webix_preloaded_header invisible" id="webix_preloaded_header"></div>

      <a class="logo invisible" href="/" id="logo_link">
        <div class="logo__img_wrap">
          <img src="/images/logo_128.png" class="logo__img" />
        </div>
        <img src="/images/logo_text.svg" class="logo__text_img hidden-xs" />
      </a>

      <div id="admin_panel__loading"><i class="fa fa-cog fa-spin fa-fw"></i></div>

      <div id="no_items" class="no_items invisible">
        <div id="no_items__no_apps"></div>
        <div class="no_items__content" id="no_items__no_data">
          <div class="no_items__column">
            <div class="no_items__desc">
              You find many useful data here
            </div>
            <div class="no_items__center">
              <a class="no_items__root clearfix" href="/#geonames">
                <img class="no_items__root_img" src="https://cdn.mydataspace.net/avatars/sm/BkxggfLvl.png" />
                <div class="no_items__root_info">
                  <div class="no_items__root_title">Geonames</div>
                  <div class="no_items__root_desc">The GeoNames geographical database covers all countries and contains over eleven million placenames</div>
                </div>
              </a>
              <a class="no_items__root clearfix" href="/#hello-world">
                <img class="no_items__root_img" src="https://cdn.mydataspace.net/avatars/sm/BksOWGzXl.png" />
                <div class="no_items__root_info">
                  <div class="no_items__root_title">Hello, World</div>
                  <div class="no_items__root_desc">"Hello, World!" of the My Data Space</div>
                </div>
              </a>
            </div>
            <div class="no_items__buttons">
              <a href="/#*" class="btn btn-success btn-lg no_items__btn no_items__btn--bottom">View All</a>
            </div>
          </div>
          <div class="no_items__column no_items__column--right">
            <div class="no_items__desc">
              Create your own data and share it with others
            </div>
            <div class="no_items__center no_items__center--right">
              <input id="no_items__new_root_input"
                     type="text"
                     class="no_items__new_root_input form-control"
                     onkeypress="no_items__new_root_input__onKeyPress(event)"
                     placeholder="New Root Name" />

              <div id="no_items__notice" class="no_items__notice">
                Root name must be unique among all existing roots
              </div>
            </div>
            <div class="no_items__buttons">
              <button class="btn btn-success btn-lg no_items__btn no_items__btn--bottom"
                      onclick="no_items__createNewRoot()">Create</button>
              <button class="btn btn-success btn-lg no_items__btn no_items__btn--bottom"
                      onclick="no_items__createNewRoot()">Import</button>
            </div>
            <script>
              function no_items__createNewRoot() {
                document.getElementById('no_items__notice').classList.remove('no_items__notice--alert');
                var root = document.getElementById('no_items__new_root_input').value;
                Mydataspace.request('entities.create', {
                  root: root,
                  path: '',
                  fields: []
                }, function() {
                  document.getElementById('no_items__new_root_input').value = '';
                }, function(err) {
                  switch (err.name) {
                    case 'SequelizeUniqueConstraintError':
                      document.getElementById('no_items__notice').classList.add('no_items__notice--alert');
                      document.getElementById('no_items__new_root_input').focus();
                      break;
                    default:
                  }
                });
              }
              function no_items__new_root_input__onKeyPress(e) {
                if (e.keyCode === 13) {
                  no_items__createNewRoot();
                  return false;
                }
              }
            </script>
          </div>
        </div>
      </div>

      <div id="admin_panel" class="admin_panel invisible"></div>
    </div>

    <script src="/vendor/jquery.min.js"></script>

    <script type="text/javascript">
      var adminPanel_waiting  = false;
      function adminPanel_startWaiting(duration) {
        if (adminPanel_waiting) {
          return;
        }
        adminPanel_waiting = true;
        $('#admin_panel__loading').show();
        $('#webix_preloaded_header').addClass('invisible');
        $('#logo_link').addClass('invisible');
        $('#no_items').addClass('invisible');
        $('#admin_panel').addClass('invisible');

        setTimeout(function() {
          adminPanel_waiting = false;
          $('#admin_panel__loading').hide();
          $('#webix_preloaded_header').removeClass('invisible');
          $('#logo_link').removeClass('invisible');
          $('#no_items').removeClass('invisible');
          $('#admin_panel').removeClass('invisible');
        }, duration);
      }

      adminPanel_startWaiting(2500);
    </script>

    <script src="/js/dist/api-v2.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/vendor/webix/webix_debug.js"></script>
    <script src="/skins/flat/skin.js"></script>
    <script src="/vendor/remarkable.js"></script>
    <script src="/js/dist/ui.js"></script>
    <script>
      $(function() {
        // Get Started large button
        $("#sub_footer__button").popover({
          placement: 'top',
          html : true,
          trigger: 'focus',
          content: function() {
            return $("#signin_popover").html();
          }
        });
      });

      $(window).on('hashchange', function() {
        var isEmptyHash = window.location.hash == null ||
                          window.location.hash === '' ||
                          window.location.hash === '#';
        if (!isEmptyHash && document.getElementById('webix').style.display === 'none') {
          document.getElementById('bootstrap').style.display = 'none';
          document.getElementById('webix').style.display = 'block';
        }
      });

      //
      // Init MyDataSpace
      //

      webix.codebase = "/vendor/";
      Mydataspace = new Myda({
        apiURL: '{{ api_url }}',
        websocketURL: '{{ api_websocket_url }}',
        clientId: '{{ client_id }}',
        permission: 'admin',
        simpleFormat: false,
        connected: function() {
          UI.initConnection();
          if (!isValidJWT(localStorage.getItem('authToken'))) {
              // UI.refresh();
              UI.pages.refreshPage('data', true);
          }
        }
      });
      Mydataspace.authProviders.facebook.title = STRINGS.CONNECT_TO_FACEBOOK;
      Mydataspace.authProviders.google.title = STRINGS.CONNECT_TO_GOOGLE;
      UI.render('admin_panel');
      Mydataspace.connect();

      //
      // Init Markdown renderer
      //
      var md = new Remarkable({
        html:         true,        // Enable HTML tags in source
        xhtmlOut:     false,        // Use '/' to close single tags (<br />)
        breaks:       false,        // Convert '\n' in paragraphs into <br>
        langPrefix:   'language-',  // CSS language prefix for fenced blocks
        linkify:      false,        // Autoconvert URL-like text to links

        // Enable some language-neutral replacement + quotes beautification
        typographer:  false,

        // Double + single quotes replacement pairs, when typographer enabled,
        // and smartquotes on. Set doubles to '«»' for Russian, '„“' for German.
        quotes: '“”‘’',

        // Highlighter function. Should return escaped HTML,
        // or '' if the source string is not changed
        highlight: function (/*str, lang*/) { return ''; }
      });
    </script>
  </body>
</html>
