---
layout: page
---
<script src="/js/pricing-page.js"></script>


<div id="pricing_list" class="row pricing_list">

  <div class="col-md-4 col-md-offset-2">
    <div id="pricing_block__free" class="pricing_block">
      <div class="pricing_block__header">{{ site.data[page.language].pricing_page.free.title }}</div>
      <div class="pricing_block__main">
        <div class="pricing_block__property">
          {{ site.data[page.language].pricing_page.free.sites }}
          <div class="pricing_block__property_addition">{{ site.data[page.language].pricing_page.free.sites_add }}</div>
        </div>
        <div class="pricing_block__property">
          {{ site.data[page.language].pricing_page.free.disk }}
          <div class="pricing_block__property_addition">{{ site.data[page.language].pricing_page.free.disk_add }}</div>
        </div>

        <div class="pricing_block__addition">
          <div>1000 emails from <span style="white-space: nowrap">your-subdomain@fastlixsite.com</span></div>
        </div>

        <div class="pricing_block__addition">
          <a href="/en/blog/2019/06/12/domain-setup-on-cloudflare">Set up your domain free on Cloudflare</a>
        </div>
      </div>
      <div class="pricing_block__pricing">{{ site.data[page.language].pricing_page.free.price }}</div>
      <div class="pricing_block__pricing_addition">{{ site.data[page.language].pricing_page.free.price_add }}</div>
      <div class="pricing_block__footer">
        <button type="button" onclick="PricingPage.instance().createWebsite()" class="btn btn-lg btn-success pricing_block__button pricing_block__button--create">{{ site.data[page.language].pricing_page.create_site }}</button>
        <button type="button" onclick="PricingPage.instance().downgradeToFree.showModal(true)" class="btn btn-lg btn-success pricing_block__button pricing_block__button--upgrade">{{ site.data[page.language].pricing_page.downgrade }}</button>
        <button type="button" class="btn btn-lg btn-success pricing_block__button pricing_block__button--current" disabled>{{ site.data[page.language].pricing_page.current_plan }}</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="pricing_block__personal" class="pricing_block">
      <div class="pricing_block__header">{{ site.data[page.language].pricing_page.personal.title }}</div>
      <div class="pricing_block__main">

        <div class="pricing_block__property">
          {{ site.data[page.language].pricing_page.personal.sites }}
          <div class="pricing_block__property_addition">{{ site.data[page.language].pricing_page.personal.sites_add }}</div>
        </div>

        <div class="pricing_block__property">
          {{ site.data[page.language].pricing_page.personal.disk }}
          <div class="pricing_block__property_addition">{{ site.data[page.language].pricing_page.personal.disk_add }}</div>
        </div>

        <div class="pricing_block__addition">
          <div>3000 emails from your domain.</div>
          <div>$0.1 for each additional 1000 emails.</div>
        </div>

        <div class="pricing_block__addition">
          <div>DNS nameservers &amp; SSL certificates for your domains</div>
        </div>

<!--        {% comment %}-->
<!--        <div class="pricing_block__property">-->
<!--          <div class="pricing_block__trial">{{ site.data[page.language].pricing_page.trial }}</div>-->
<!--          <div class="pricing_block__trial pricing_block__trial&#45;&#45;active">{{ site.data[page.language].pricing_page.trial_active }}</div>-->
<!--          <div id="pricing_block__super_offer" class="pricing_block__super_offer hidden">{{ site.data[page.language].pricing_page.super_offer }}</div>-->
<!--          <div id="pricing_block__trial_left" class="pricing_block__trial_left"></div>-->
<!--        </div>-->
<!--        {% endcomment %}-->
      </div>
      <div class="pricing_block__pricing">{{ site.data[page.language].pricing_page.personal.price }}</div>
      <div class="pricing_block__pricing_addition">{{ site.data[page.language].pricing_page.personal.price_add }}</div>
      <div class="pricing_block__footer">
        <button type="button" onclick="PricingPage.instance().createWebsite()" class="btn btn-lg btn-success pricing_block__button pricing_block__button--create">{{ site.data[page.language].pricing_page.create_site }}</button>
        <button type="button" onclick="PricingPage.instance().upgradeToPersonal.showModal(true)" class="btn btn-lg btn-success pricing_block__button pricing_block__button--upgrade">{{ site.data[page.language].pricing_page.upgrade }}</button>
        <button type="button" class="btn btn-lg btn-success pricing_block__button pricing_block__button--current" disabled>{{ site.data[page.language].pricing_page.current_plan }}</button>
      </div>
    </div>
  </div>


<!--  <div id="pricing_block__unlimited" class="col-md-4">-->
<!--    <div class="pricing_block">-->
<!--      <div class="pricing_block__header">{{ site.data[page.language].pricing_page.unlim.title }}</div>-->
<!--      <div class="pricing_block__main">-->
<!--        <div class="pricing_block__property">-->
<!--          {{ site.data[page.language].pricing_page.unlim.sites }}-->
<!--          <div class="pricing_block__property_addition">{{ site.data[page.language].pricing_page.unlim.sites_add }}</div>-->
<!--        </div>-->
<!--        <div class="pricing_block__property">-->
<!--          {{ site.data[page.language].pricing_page.unlim.disk }}-->
<!--          <div class="pricing_block__property_addition">{{ site.data[page.language].pricing_page.unlim.disk_add }}</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="pricing_block__pricing">{{ site.data[page.language].pricing_page.unlim.price }}</div>-->
<!--      <div class="pricing_block__pricing_addition">{{ site.data[page.language].pricing_page.unlim.price_add }}</div>-->
<!--      <div class="pricing_block__footer">-->
<!--        <button type="button" onclick="PricingPage.instance().contactUs.showModal(true)" class="btn btn-lg btn-success pricing_block__button">-->
<!--          {{ site.data[page.language].pricing_page.contact_us }}-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <div id="pricing_page_changed_plan"
       class="modal"
       role="dialog"
       aria-labelledby="Request Sent">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header look_modal__header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">{{ site.data[page.language].strings.request_sent }}</div>
        </div>
        <div class="modal-body look_modal__body">
          {{ site.data[page.language].pricing_page.plan_changed }}
        </div>
        <div class="modal-footer look_modal__footer">
          <button class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


  <div id="professional_plan_unavailable_sent_modal"
       class="modal"
       role="dialog"
       aria-labelledby="Request Sent">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header look_modal__header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">{{ site.data[page.language].strings.request_sent }}</div>
        </div>
        <div class="modal-body look_modal__body">
          {{ site.data[page.language].pricing_page.thanks }}
        </div>
        <div class="modal-footer look_modal__footer">
          <button class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


  <div id="professional_plan_unavailable_modal"
       class="modal"
       role="dialog"
       aria-labelledby="Request Pro">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header look_modal__header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">{{ site.data[page.language].strings.send_request }}</div>
        </div>
        <div class="modal-body look_modal__body">
          <div style="line-height: 1.1; margin-bottom: 10px;">
            {{ site.data[page.language].pricing_page.pro.plan_unavailable }}
          </div>
          <div>
            <input type="text" id="professional_plan_unavailable_modal__text" class="form-control" placeholder="your-email@example.com">
          </div>
          <div id="professional_plan_unavailable_modal__error" class="give_feedback_modal__error"></div>
        </div>
        <div class="modal-footer look_modal__footer">
          <button class="btn btn-primary give_feedback_modal__send" id="professional_plan_unavailable_modal__send">{{ site.data[page.language].strings.send }}</button>
        </div>
      </div>
    </div>
  </div>


  <div id="free_plan_downgrade_modal"
       class="modal"
       role="dialog"
       aria-labelledby="Request Unlimited">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header look_modal__header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">{{ site.data[page.language].pricing_page.change_plan }}</div>
        </div>
        <div class="modal-body look_modal__body">
          <div class="">{{ site.data[page.language].pricing_page.approve_downgrade_to_free }}</div>
          <div id="free_plan_downgrade_modal__error" class="give_feedback_modal__error"></div>
        </div>
        <div class="modal-footer look_modal__footer">
          <button class="btn btn-success give_feedback_modal__send" id="free_plan_downgrade_modal__send">{{ site.data[page.language].pricing_page.downgrade }}</button>
        </div>
      </div>
    </div>
  </div>

  <div id="personal_plan_upgrade_modal"
       class="modal"
       role="dialog"
       aria-labelledby="Request Unlimited">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header look_modal__header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">{{ site.data[page.language].pricing_page.change_plan }}</div>
        </div>
        <div class="modal-body look_modal__body">
          <div class="">{{ site.data[page.language].pricing_page.approve_upgrade_to_personal }}</div>
          <div id="personal_plan_upgrade_modal__error" class="give_feedback_modal__error"></div>
        </div>
        <div class="modal-footer look_modal__footer">
          <button class="btn btn-success give_feedback_modal__send" id="personal_plan_upgrade_modal__send">{{ site.data[page.language].pricing_page.upgrade }}</button>
        </div>
      </div>
    </div>
  </div>



  <div id="request_unlimited_modal"
       class="modal"
       role="dialog"
       aria-labelledby="Request Unlimited">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header look_modal__header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">{{ site.data[page.language].strings.send_request }}</div>
        </div>
        <div class="modal-body look_modal__body">
          <div>
            <textarea id="request_unlimited_modal__text" rows="5" class="form-control" placeholder="{{ site.data[page.language].pricing_page.unlim.request_placeholder }}"></textarea>
          </div>
          <div id="request_unlimited_modal__error" class="give_feedback_modal__error"></div>
          <div class="give_feedback_modal__send_mail">{{ site.data[page.language].menu.give_feedback_send_mail }} <a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
        </div>
        <div class="modal-footer look_modal__footer">
          <button class="btn btn-primary give_feedback_modal__send" id="request_unlimited_modal__button">{{ site.data[page.language].strings.send }}</button>
        </div>
      </div>
    </div>
  </div>

  <div id="request_unlimited_sent_modal"
       class="modal"
       role="dialog"
       aria-labelledby="Request Sent">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header look_modal__header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">{{ site.data[page.language].strings.request_sent }}</div>
        </div>
        <div class="modal-body look_modal__body">
          {{ site.data[page.language].pricing_page.thanks }}
        </div>
        <div class="modal-footer look_modal__footer">
          <button class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    PricingPage.instance().init();
  </script>
</div>

<div class="pricing-skeletons-notice">{{ site.data[page.language].pricing_page.free_skeletons }}</div>