---
layout: default
---

<div id="root" class="root_page">%%root-page.html%%</div>

<script>
  if (document.getElementById('root').innerText === '%%root-page.html%%') {
    document.getElementById('root').innerText = '';
  }
</script>

{% comment %}
<div id="change_root_version_modal"
     class="modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Change Version">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header look_modal__header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">{{ site.data[page.language].root.change_root_version }}</div>
      </div>
      <div class="modal-body look_modal__body change_root_version_modal__body">
        <table class="table change_root_version_modal__table" id="change_root_version_modal__table">
          <thead>
            <tr>
              <th class="change_root_version_modal_table__number">#</th>
              <th class="change_root_version_modal_table__created_at">{{ site.data[page.language].root.version_created_at }}</th>
              <th>{{ site.data[page.language].root.version_description }}</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer look_modal__footer">
        <button class="btn btn-default"
                data-dismiss="modal">{{ site.data[page.language].root.cancel }}</button>
      </div>
    </div>
  </div>
</div>
{% endcomment %}

{% include root_script.html language=page.language %}