<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="/vendor/webix/webix.css" type="text/css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/css/webix.css" type="text/css">

    <meta property="og:url"                content="http://my-data.space" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="My Data Space" />
    <meta property="og:description"        content="How does crate website fasty?" />
    <meta property="og:image"              content="http://my-data.space/images/logo_social.jpg" />

    <script src="/vendor/socket.io.js"></script>
    <script src="/vendor/webix/webix_debug.js"></script>
    <script src="/js/ace.js"></script>

    <script src="/js/strings.js" type="text/javascript"></script>
    <script>
      LANGUAGE = localStorage.getItem('language') || 'EN';
      STRINGS = STRINGS_ON_DIFFERENT_LANGUAGES[LANGUAGE];
    </script>

    <script src="/js/common.js" type="text/javascript"></script>
    <script src="/js/api/Entities.js" type="text/javascript"></script>
    <script src="/js/api/Myda.js" type="text/javascript"></script>
    <script src="/js/uihelper.js" type="text/javascript"></script>
    <script src="/js/uicontrols.js" type="text/javascript"></script>
    <script src="/js/EntityForm.js" type="text/javascript"></script>
    <script src="/js/EntityList.js" type="text/javascript"></script>
    <script src="/js/EntityTree.js" type="text/javascript"></script>
    <script src="/js/Pages.js" type="text/javascript"></script>
    <script src="/js/ui.js" type="text/javascript"></script>

    <link href="https://fonts.googleapis.com/css?family=Lalezar|Candal|Audiowide" rel="stylesheet">

    <script>
      webix.codebase = "/vendor/";
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
