---
layout: page
title: Demos
description: Web sites created with using the service
language: en
---
{% for demo in site.data[page.language].demos %}
  <div class="media without_overflow media--big-top-margin">
    <div class="media-left hidden-xs">
      <a href="{{ demo.website }}" target="_blank">
        <img class="media-object demo__logo"
             src="/images/demos/{{ demo.id }}.png"
             alt="{{ demo.title }}" />
      </a>
    </div>
    <div class="media-body without_overflow">
      <h2 class="media-heading">
        <a href="{{ demo.website }}" target="_blank">{{ demo.title }}</a>
        <!-- <a class="demo__source_url" href="{{ demo.source }}" target="_blank">
          <i class="fa fa-code" aria-hidden="true"></i>
          {{site.data[page.language].source_code}}
        </a> -->
      </h2>
      <div class="demo__info">
        {% if demo.description != "" %}
          <div class="demo__description">
            {{ demo.description }}
          </div>
        {% endif %}
        <div class="safari">
          <div class="safari__header clearfix">
            <div class="safari__buttons_wrap">
              <div class="safari__buttons clearfix">
                <div class="safari__button safari__button--red"></div>
                <div class="safari__button safari__button--orange"></div>
                <div class="safari__button safari__button--green"></div>
              </div>
            </div>
            <div class="safari__address_bar">
              <div class="safari__url">{{ demo.website | replace: "https://","<span class='safari__url__https'>https://</span>" }}</div>
            </div>
          </div>
          <img class="demo__screenshot" id="demo_{{ demo.id }}_screenshot" src="/images/demos/{{ demo.id }}-screenshot-preview.jpg" />
          <script>
            document.getElementById('demo_{{ demo.id }}_screenshot').style.height = Math.ceil(document.getElementById('demo_{{ demo.id }}_screenshot').width * {{ demo.screenshot_height }} / {{ demo.screenshot_width }}) + 'px';
            var demo_{{ demo.id }}_screenshot_image = new Image();
            demo_{{ demo.id }}_screenshot_image.src = '/images/demos/{{ demo.id }}-screenshot.jpg';
            demo_{{ demo.id }}_screenshot_image.onload = function() {
              document.getElementById('demo_{{ demo.id }}_screenshot').src = demo_{{ demo.id }}_screenshot_image.src;
              document.getElementById('demo_{{ demo.id }}_screenshot').style.height = 'auto';
            };
          </script>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
